block aside

    ul.b-menu-left

        li.b-menu-left__item
            span.b-menu-left__burger
            a.b-menu-left__link(href='#') Каталог
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Коллекции мебели
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Диваны
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Кровати
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Корпусная мебель
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Столы и стулья
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Кресла
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Предметы интерьера
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Матрасы и подушки

        li.b-menu-left__item
            span.b-menu-left__void
            a.b-menu-left__link(href='#') Мебель на заказ

        li.b-menu-left__item
            span.b-menu-left__void
            a.b-menu-left__link(href='#') Дизайн-проект

        li.b-menu-left__item
            span.b-menu-left__burger
            a.b-menu-left__link(href='#') Акции & Новости
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Новости
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Акции

        li.b-menu-left__item
            span.b-menu-left__burger
            a.b-menu-left__link(href='#') Где купить
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Москва
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Московская область

        li.b-menu-left__item
            span.b-menu-left__burger
            span.b-menu-left__name Услуги
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Гарантийное обслуживание
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Постгарантийное обслуживание
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Доставка мебели

        li.b-menu-left__item
            span.b-menu-left__burger
            span.b-menu-left__name Полезная информация
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Статьи
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Скачать схемы сборки

        li.b-menu-left__item
            span.b-menu-left__burger
            span.b-menu-left__name Партнерство
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Интернет-магазинам
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Дилерам
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Дизайнерам

        li.b-menu-left__item
            span.b-menu-left__burger
            span.b-menu-left__name О фабрике
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Производство мебели
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Инженерные разработки
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Отзывы
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Наши партнеры
                li.b-menu-left__item
                    a.b-menu-left__link(href='#') Вакансии

        li.b-menu-left__item
            span.b-menu-left__void
            a.b-menu-left__link(href='#') Контакты

        li.b-menu-left__item
            span.b-menu-left__void
            a.b-menu-left__link(href='#')
                | Избранное (
                span.ml-favourites-cnt 0
                | )