block aside

    ul.b-menu-left.b-menu-left--js_init(data-b-menu-left-bemid='134')

        li.b-menu-left__item
            span.b-menu-left__burger.b-menu-left__burger--js_init(data-b-menu-left__burger-bemid='135')
            a.b-menu-left__link(href='/products/') Каталог
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='/products/kollektsii-mebeli/') Коллекции мебели
                li.b-menu-left__item
                    a.b-menu-left__link(href='/products/divany/') Диваны
                li.b-menu-left__item
                    a.b-menu-left__link(href='/products/krovati/') Кровати
                li.b-menu-left__item
                    a.b-menu-left__link(href='/products/korpusnaya-mebel/') Корпусная мебель
                li.b-menu-left__item
                    a.b-menu-left__link(href='/products/stoly-i-stulya/') Столы и стулья
                li.b-menu-left__item
                    a.b-menu-left__link(href='/products/kresla/') Кресла
                li.b-menu-left__item
                    a.b-menu-left__link(href='/products/predmety-interera/') Предметы интерьера
                li.b-menu-left__item
                    a.b-menu-left__link(href='/products/matrasy/') Матрасы и подушки

        li.b-menu-left__item
            span.b-menu-left__void
            a.b-menu-left__link(href='/designer_products/') Мебель на заказ

        li.b-menu-left__item
            span.b-menu-left__void
            a.b-menu-left__link(href='/design_project/') Дизайн-проект

        li.b-menu-left__item
            span.b-menu-left__burger.b-menu-left__burger--js_init(data-b-menu-left__burger-bemid='136')
            a.b-menu-left__link(href='/news/') Акции & Новости
            ul.b-menu-left__sub
            li.b-menu-left__item
                a.b-menu-left__link(href='/news/novosti/') Новости
            li.b-menu-left__item
                a.b-menu-left__link(href='/news/aktsii/') Акции

        li.b-menu-left__item
            span.b-menu-left__burger.b-menu-left__burger--js_init(data-b-menu-left__burger-bemid='137')
            a.b-menu-left__link(href='/where-to-buy/') Где купить
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='/where-to-buy/moskva/') Москва
                li.b-menu-left__item
                    a.b-menu-left__link(href='/where-to-buy/moskovskaya-oblast/') Московская область

        li.b-menu-left__item
            span.b-menu-left__burger.b-menu-left__burger--js_init(data-b-menu-left__burger-bemid='138')
            span.b-menu-left__name.b-menu-left__name--js_init(data-b-menu-left__name-bemid='143') Услуги
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='/guarantee/') Гарантийное обслуживание
                li.b-menu-left__item
                    a.b-menu-left__link(href='/post_guarantee/') Постгарантийное обслуживание
                li.b-menu-left__item
                    a.b-menu-left__link(href='/pages/dostavka-mebeli/') Доставка мебели

        li.b-menu-left__item
            span.b-menu-left__burger.b-menu-left__burger--js_init(data-b-menu-left__burger-bemid='139')
            span.b-menu-left__name.b-menu-left__name--js_init(data-b-menu-left__name-bemid='144') Полезная информация
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='/articles/') Статьи
                li.b-menu-left__item
                    a.b-menu-left__link(href='/pages/skhemy-sborki/') Скачать схемы сборки

        li.b-menu-left__item
            span.b-menu-left__burger.b-menu-left__burger--js_init(data-b-menu-left__burger-bemid='140')
            span.b-menu-left__name.b-menu-left__name--js_init(data-b-menu-left__name-bemid='145') Партнерство
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='/pages/internet-magazinam/') Интернет-магазинам
                li.b-menu-left__item
                    a.b-menu-left__link(href='/pages/dileram/') Дилерам
                li.b-menu-left__item
                    a.b-menu-left__link(href='/pages/dizayneram/') Дизайнерам

        li.b-menu-left__item
            span.b-menu-left__burger.b-menu-left__burger--js_init(data-b-menu-left__burger-bemid='141')
            span.b-menu-left__name.b-menu-left__name--js_init(data-b-menu-left__name-bemid='146') О фабрике
            ul.b-menu-left__sub
                li.b-menu-left__item
                    a.b-menu-left__link(href='/production/') Производство мебели
                li.b-menu-left__item
                    a.b-menu-left__link(href='/pages/inzhenernye-razrabotki/') Инженерные разработки
                li.b-menu-left__item
                    a.b-menu-left__link(href='/feedback/') Отзывы
                li.b-menu-left__item
                    a.b-menu-left__link(href='/our-partners/') Наши партнеры
                li.b-menu-left__item
                    a.b-menu-left__link(href='/vacancies/') Вакансии

        li.b-menu-left__item
            span.b-menu-left__void
            a.b-menu-left__link(href='/contacts/') Контакты

        li.b-menu-left__item
            span.b-menu-left__void
            a.b-menu-left__link(href='/favourites/')
            | Избранное (
            span.ml-favourites-cnt 0
            | )