@import 'plugins/swiper-bundle';

@import 'base/mixins';
@import 'base/normalize';
@import 'base/fonts';
@import 'base/reset';
@import 'base/ui';

@import 'includes/header';
@import 'includes/footer';
@import 'includes/aside';

@import 'components/ya_share';
@import 'components/breadcrumbs';
@import 'components/form';

@import 'pages/index';
@import 'pages/catalog';
@import 'pages/category';
@import 'pages/product';
@import 'pages/designer_products';
@import 'pages/design_project';

.b-layout {
    position: relative;
    min-width: 360px;
    min-height: 100vh;
    overflow-x: visible;
    overflow-y: visible;
    font-size: .8rem;
}

.b-layout__content {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    @include breakpointCustom(361px) {
        padding: 0;
        max-width: 100%;
    }
}

.b-layout__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpointCustom(1201px) {
        width: 84%;
    }
}

.b-layout__main {
    order: 2;
    flex: 1 1 auto;
    position: relative;
    z-index: 9;
    width: 100%;
    min-height: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpointCustom(361px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @include breakpointCustom(821px) {
        padding-bottom: 4rem;
    }

    @include breakpointCustom(1201px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include breakpointCustom(1601px) {
        padding-left: 5.4rem;
        padding-right: 5.4rem;
    }
}

.b-layout__main.no_main {
    padding-top: 9.5rem;

    @include breakpointMaxCustom(1200px) {
        padding-top: 13rem;
    }

    @include breakpointMaxCustom(820px) {
        padding-top: 10rem;
    }
}

.b-layout__main-global {
    position: absolute;
    z-index: 999;
    margin-top: -5.4rem;
}

.b-layout__main-content {
    position: relative;
    z-index: 5;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.b-layout__main-content-dots {
    display: none;
    position: absolute;
    top: -4rem;
    right: calc(3rem - 1.5rem - 6px);
    width: 50%;
    height: 11.3rem;
    background-position: 100% 0;

    @include breakpointCustom(820px) {
        display: block;
    }

    @include breakpointCustom(1201px) {
        right: -6px;
    }
}