html {
    scroll-behavior: smooth;
  }

body {
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
    overflow: hidden;
}

body b {
    font-weight: 700;
    color: #000;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;

    @include breakpoint(lg) {
        width: 2px;
        height: 10px;
    }
}

// ::-webkit-scrollbar-thumb {
//     background: $blue;
// }

// ::-webkit-scrollbar-track {
//     background: #f7f7f7;
// }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

main {
    min-height: calc(max(calc(100vh - 614px), 650px));

    @include breakpoint(md) {
        min-height: calc(max(calc(100vh - 614px), 570px));
    }
}

.hide {
    display: none!important;
}

#page {
    position: relative;
    min-width: 320px;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

body .c-first-screen {
    height: calc(100vh - 3rem)!important;
    overflow: hidden!important;

    @include breakpointCustom(1201px) {
        height: calc(100vh - 5.4rem)!important;
    }
}

body .c-dotted {
    background-image: radial-gradient(at top,#ee1d24 1px,transparent 0);
    background-size: 14px 14px;
}