.b-filter {
    margin-bottom: 4rem
}

.b-filter__wrap {
    display: flex;
    flex-wrap: wrap;
}

.b-filter,.b-filter__group {
    transition: all 1s ease-in-out
}

.b-filter__group:nth-child(3) ~ .b-filter__group  {
    display: none;
}

.b-filter__group,.b-filter__group--cols_1 {
    width: 100%
}

@media (min-width: 580px) {
    .b-filter__group--cols_2 {
        width:calc(50% - 1rem);
        margin-right: 2rem
    }

    .b-filter__group--cols_2:nth-child(2n),.b-filter__group--cols_2:nth-child(odd) {
        margin-right: 2rem
    }

    .b-filter__group--cols_2:nth-child(2n) {
        margin-right: 0
    }
}

@media (min-width: 580px) {
    .b-filter__group--cols_3 {
        width:calc(50% - 1rem);
        margin-right: 2rem
    }

    .b-filter__group--cols_3:nth-child(2n),.b-filter__group--cols_3:nth-child(odd) {
        margin-right: 2rem
    }

    .b-filter__group--cols_3:nth-child(2n) {
        margin-right: 0
    }
}

@media (min-width: 1400px) {
    .b-filter__group--cols_3 {
        width:calc(33.333333% - 1.34rem);
        margin-right: 2rem
    }

    .b-filter__group--cols_3:nth-child(2n),.b-filter__group--cols_3:nth-child(odd) {
        margin-right: 2rem
    }

    .b-filter__group--cols_3:nth-child(3n) {
        margin-right: 0
    }
}

.b-filter__group--hide {
    height: 0;
    overflow: hidden
}

.b-filter__group-name {
    margin-bottom: .5rem;
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 700
}

.b-filter__group-items {
    margin-bottom: .5rem
}

.b-filter__group-item {
    display: inline-block;
    margin: 0 .4rem .4rem 0;
    padding: .2rem .5rem;
    border: 1px solid #c2bdba;
    color: #202020;
    font-size: .7rem;
    text-decoration: none
}

.b-filter__group-item--active,.b-filter__group-item:hover {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    text-decoration: none;
    color: #202020
}


.b-block-products {
    position: relative;
    margin: 0 0 4rem;
    padding: 0
}

.b-block-products__items {
    display: flex;
    flex-wrap: wrap
}

.b-block-products__item {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;

    @include breakpointCustom(580px) {
        width:calc(50% - 1rem);
        margin-right: 2rem;
    }

    @include breakpointCustom(1400px) {
        width:calc(33.333333% - 1.34rem);
        margin-right: 2rem;
    }
}

.b-block-products__item:nth-child(2n),.b-block-products__item:nth-child(odd) {

    @include breakpointCustom(580px) {
        margin-right: 2rem;
    }
}

.b-block-products__item:nth-child(2n) {

    @include breakpointCustom(580px) {
        margin-right: 0;
    }

    @include breakpointCustom(1400px) {
        margin-right: 2rem;
    }
}

.b-block-products__item:nth-child(3n) {

    @include breakpointCustom(1400px) {
        margin-right: 0;
    }
}

.b-block-products__item.swiper-slide {
    margin-bottom: 0;
}

.b-block-products__icons {
    position: absolute;
    top: .5rem;
    left: -1rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 2rem
}

.b-block-products__new.c-new-ico,.b-block-products__sale.c-sale-ico {
    width: 3rem;
    height: 3rem;
    margin-bottom: .5rem
}

.b-block-products__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none
}

.b-block-products__link:hover {
    text-decoration: none
}

.b-block-products__image {
    display: block
}

.b-block-products__img {
    position: relative;
    width: 100%;
    padding-top: 60.82%;
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat
}

.b-block-products__favourites-ico {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 3;
    width: 1rem;
    height: 1rem;
    cursor: pointer
}

.b-block-products__favourites-svg {
    width: 100%;
    height: 100%
}

.b-block-products__favourites-ico:hover .b-block-products__favourites-svg {
    fill: #fff;
    opacity: 1
}

.b-block-products__favourites-ico--active .b-block-products__favourites-svg {
    fill: #ee1d24;
    opacity: 1
}

.b-block-products__content {
    padding: 1.1rem 0;
    background-color: transparent;
    transition: .5s ease-in-out
}

.b-block-products__name {
    position: relative;
    margin-bottom: .5rem;
    padding: 0 1rem .5rem;
    font-size: 1.5rem;
    font-weight: 700
}

.b-block-products__content-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.b-block-products__line {
    width: 80%;
    border-color: #ee1d24;
    margin-bottom: 12px
}

.b-block-products__text {
    width: 50%;
    color: #202020;
    font-size: .7rem;
    text-align: left;
    padding: 0 4px;
    margin-bottom: 10px;

    @include breakpointMaxCustom(380px) {
        margin-bottom:10px;
        width: 51%
    }
}

.b-block-products__text:nth-child(2) {
    text-align: right;
    margin-bottom: 0;

    @include breakpointMaxCustom(380px) {
        text-align: left;
    }
}

.b-block-products__text--grey {
    color: #777
}

.b-block-products__price {
    color: #202020;
    font-weight: 700
}

.b-block-products__item:hover .b-block-products__content {
    background-color: #ee1d24
}

.b-block-products__item:hover .b-block-products__name {
    color: #fff
}

.b-block-products__item:hover .b-block-products__name:after {
    width: 80%;
    background-color: #fff
}

.b-block-products__item:hover .b-block-products__text {
    color: #fff
}

.b-block-products__item:hover .b-block-products__line {
    border-color: #fff
}

.b-block-products__item:hover .b-block-products__descr,.b-block-products__item:hover .b-block-products__price {
    color: #fff
}

.b-block-products__controls {
    position: absolute;
    z-index: 11;
    top: 20%;
    left: 0;
    right: 0;
    transform: translateY(-50%)
}

.b-block-products__controls-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @include breakpointCustom(740px) {
        margin:0 -1rem;
    }
}

.b-block-products__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    cursor: pointer
}

.b-block-products__button--type_next {
    border: 2px solid #ee1d24
}

.b-block-products__button--type_prev {
    border: 2px solid #ee1d24;
    transform: rotate(180deg);
    cursor: pointer
}

.b-block-products__button-svg {
    stroke: #ee1d24;
    width: 40%
}

.b-block-hide-show {
    width: 100%
}

.b-block-hide-show__body {
    /* display:none; */
}

.b-block-hide-show__body--show {
    display: block
}

.b-filter .b-block-hide-show__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.b-block-hide-show__control {
    padding: .5rem 0 0;
    border-top: 1px solid #c2bdba
}

.b-block-hide-show__button {
    display: inline-block;
    border-bottom: 1px dashed #ee1d24;
    font-size: .7rem;
    font-weight: 700;
    color: #ee1d24;
    text-transform: uppercase;
    cursor: pointer
}

.b-block-hide-show__button:hover {
    border-bottom: none
}