.b-slider-main {
    position: relative;
    margin: 0 0 4rem;
    padding-bottom: 4rem;
    font-size: .7rem;
    margin-right: -1rem!important;

    @include breakpointCustom(361px) {
        margin-right: -1.5rem!important;
    }

    @include breakpointCustom(1000px) {
        padding-bottom: 0;
        font-size: 1rem;
    }

    @include breakpointCustom(1200px) {
        font-size: .8rem;
    }

    @include breakpointCustom(1201px) {
        margin-right: -3rem!important;
    }

    @include breakpointCustom(1400px) {
        font-size: .9rem;
    }

    @include breakpointCustom(1600px) {
        font-size: 1rem;
    }

    @include breakpointCustom(1601px) {
        margin-right: -5.4rem!important;
    }
}

.b-slider-main__wrapper {
    z-index: 10;
}

.b-slider-main__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    height: 100%;
}

.b-slider-main__item-content {
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 50%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    background-color: hsla(0,0%,100%,.7);
    text-align: center;
    pointer-events: none;
    transform: translateY(-50%);

    @include breakpointCustom(361px) {
        margin-bottom: 1.5rem!important;
    }

    @include breakpointCustom(1000px) {
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
        display: block;
        width: 50%;
        height: auto;
        padding: 0 0 3.5em;
        background: none;
        text-align: left;
        transform: none;
        margin-bottom: 1rem!important;
    }

    @include breakpointCustom(1201px) {
        margin-bottom: 3rem!important;
    }

    @include breakpointCustom(1601px) {
        margin-bottom: 5.4rem!important;
    }
}

.b-slider-main__item-title {
    width: 100%;
    font-size: 1.5em;
    color: #ee1d24;
    margin-bottom: calc(2rem - 0.6em);

    @include breakpointCustom(1000px) {
        width: auto;
        margin-bottom: 0;
    }
}

.b-slider-main__item-name {
    width: 100%;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;

    @include breakpointCustom(580px) {
        font-size: 5em;
    }

    @include breakpointCustom(1000px) {
        width: auto;
        font-size: 5em;
    }
}

.b-slider-main__item-descr {
    width: 100%;
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid #ee1d24;
    font-size: 1.25em;
    margin-bottom: 5.4em;

    @include breakpointCustom(650px) {
        width: 70%;
    }

    @include breakpointCustom(1000px) {
        width: 42%;
        font-size: .8em;
    }
}

.b-slider-main__item-content>:last-child {
    margin-bottom: 0;
}

.b-slider-main__item-image {
    position: relative;
    z-index: 9;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include breakpointCustom(1000px) {
        padding-right: 5.4rem!important;
        padding-bottom: 5.4rem!important;
        width: 71%;
    }
}

.b-slider-main__item-img {
    position: relative;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.b-slider-main__item-img:before {
    position: absolute;
    bottom: -0.6rem;
    left: 0;
    z-index: 7;
    content: "";
    width: calc(100% + 0.6rem);
    height: 0.6rem;
    background-color: #fff;
}

.b-slider-main__item-img:after {
    position: absolute;
    top: 0;
    right: -0.6rem;
    z-index: 7;
    content: "";
    width: 0.6rem;
    height: 100%;
    background-color: #fff;
}

.b-slider-main__item-a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    text-decoration: none;
}

.b-slider-main__item-dotted {
    position: absolute;
    left: 9.7em;
    right: 0.6rem;
    bottom: 0.6rem;
    z-index: 6;
    height: 70%;
    font-size: .8em;
}

.b-slider-main__controls {
    position: absolute;
    z-index: 11;
    left: 2rem;
    right: 2rem;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 4rem;
    font-size: 1.3em;

    @include breakpointCustom(1000px) {
        width: 21%;
        height: auto;
        left: 0;
        right: auto;
        font-size: .8em;
        padding-bottom: 5.4rem!important;
    }
}

.b-slider-main__pagination {
    position: static;
    flex-grow: 0;
    width: auto;
    margin-right: 1em;
    text-align: left;
}

.b-slider-main__pagination .swiper-pagination-current {
    color: #ee1d24;
    font-weight: 700;
}

.b-slider-main__type {
    flex-grow: 1;
    padding-right: 1em;
    color: #ee1d24;
    text-align: center;

    @include breakpointCustom(1000px) {
        text-align: left;
    }
}

.b-slider-main__button-prev {
    flex-grow: 0;
    width: 1em;
    height: 1em;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcgMUwxIDdsNiA2IiBzdHJva2U9IiNFRTFEMjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==) 50% no-repeat;
    background-size: contain;
    margin-right: 1em;
    cursor: pointer;
}

.b-slider-main__button-next {
    flex-grow: 0;
    width: 1em;
    height: 1em;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcgMUwxIDdsNiA2IiBzdHJva2U9IiNFRTFEMjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==) 50% no-repeat;
    background-size: contain;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
}

.b-slider-main__down {
    overflow: hidden;
    position: absolute;
    bottom: 0.6rem;
    left: 29%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 9em;
    height: 9em;
    background-color: #ee1d24;
    padding: 0.8em;
    font-size: .8em;
    color: #fff;
    text-transform: lowercase;
    cursor: pointer;
    transform: rotate(-90deg);
}

.b-slider-main__down-content {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    padding-right: 0.8em;
}

.b-slider-main__down-content:before {
    position: absolute;
    top: 50%;
    right: 100%;
    z-index: 11;
    content: "";
    width: 9em;
    height: 1px;
    background-color: #fff;
    animation: move 2s infinite ease-in-out;
}

.b-slider-main__down:hover .b-slider-main__down-content:before {
    transform: rotate(1turn)
}

@-webkit-keyframes move {
    0% {
        right: 100%
    }

    to {
        right: 500%
    }
}

@keyframes move {
    0% {
        right: 100%
    }

    to {
        right: 500%
    }
}

.b-block-advantages {
    margin: 0 0 4rem;
}

.b-block-advantages h2 {

    @include breakpointCustom(1000px) {
        font-size: 5rem;
    }
}

.b-block-advantages__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: item;
}

.b-block-advantages__item {
    position: relative;
    width: 100%;
    padding: 5rem 0 2rem 2.5rem;
    transition: all 1s ease-in-out;
    transform: translateY(calc(100% + 5rem));

    @include breakpointCustom(580px) {
        width: calc(50% - 1rem);
    }

    @include breakpointCustom(1400px) {
        padding: 5rem 0 5rem 5rem;
        width: calc(33.333333% - 1.34rem);
    }
}

.b-block-advantages__item:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: counter(item);
    counter-increment: item;
    line-height: 1;
    font-size: 11rem;
    font-weight: 900;
    color: #fff;
    text-shadow: 1px 1px 0 #c2bdba, 1px -1px 0 #c2bdba, -1px 1px 0 #c2bdba, -1px -1px 0 #c2bdba;
    transition: .5s ease-in-out;

    @include breakpointCustom(1400px) {
        left: 2.5rem;
    }
}

.b-block-advantages__item:hover:before {
    text-shadow: 1px 1px 0 #ee1d24,1px -1px 0 #ee1d24,-1px 1px 0 #ee1d24,-1px -1px 0 #ee1d24
}

.b-block-advantages__items.visible .b-block-advantages__item {
    transform: translateY(0)
}

.b-block-advantages__item:first-child .c-dotted {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    z-index: 3;
    width: 4.3rem;
    height: 4.3rem;
    transform: translate(40%,-50%)
}

.b-block-advantages__item:first-child .b-block-advantages__item-img {

    @include breakpointCustom(1400px) {
        left:auto;
        transform: translate(-4.5rem,-50%)
    }
}

.b-block-advantages__item:nth-child(2) {

    @include breakpointCustom(1400px) {
        margin-top:19rem
    }
}

.b-block-advantages__item:nth-child(2) .b-block-advantages__item-img {

    @include breakpointCustom(1400px) {
        top: auto;
        bottom: 0;
        left: auto;
        -webkit-transform: translate(-4.5rem,4.5rem);
        transform: translate(-4.5rem,4.5rem)
    }
}

.b-block-advantages__item:nth-child(3) {

    @include breakpointCustom(1400px) {
        padding-left:0;
        padding-right: 5rem
    }
}

.b-block-advantages__item:nth-child(3):before {

    @include breakpointCustom(1400px) {
        left: -2.5rem
    }
}

.b-block-advantages__item:nth-child(3) .b-block-advantages__item-img {

    @include breakpointCustom(1400px) {
        top: 0;
        left: auto;
        right: 0;
        transform: translate(4.5rem,-4.5rem)
    }
}

.b-block-advantages__item-url {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%
}

.b-block-advantages__item-name {
    position: relative;
    z-index: 2;
    margin-bottom: 2.5rem;
    font-size: 2.7rem;
    font-weight: 700;

    @include breakpointCustom(1400px) {
        margin-bottom: 3.5rem;
    }
}

.b-block-advantages__item-descr {
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;

    @include breakpointCustom(1400px) {
        margin-bottom: 4rem;
    }
}

.b-block-advantages__item-image {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 2rem;
    background-color: #f8f8f8;
    transition: .5s ease-in-out;

    @include breakpointCustom(1601px) {
        padding: 1rem;
    }
}

.b-block-advantages__item-image-wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.b-block-advantages__item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%,-50%);
}

.l-stretch-all-all {
    margin-left: -1rem!important;
    margin-right: -1rem!important;

    @include breakpointCustom(361px) {
        margin-left: -1.5rem!important;
        margin-right: -1.5rem!important;
    }

    @include breakpointCustom(1201px) {
        margin-left: -3rem!important;
        margin-right: -3rem!important;
    }

    @include breakpointCustom(1601px) {
        margin-left: -5.4rem!important;
        margin-right: -5.4rem!important;
    }
}

.b-block-top-sales {
    position: relative;
    margin: 0 0 4rem;
    padding: 4rem 0 2rem;
    background-color: #f8f8f8;
}

.b-block-top-sales__dotted-left {
    position: absolute;
    left: 0.8rem;
    top: -8rem;
    content: "";
    z-index: 1;
    width: 14rem;
    height: 25rem;
}

.b-block-top-sales__wrap {
    position: relative;
    z-index: 10;
}

.l-stretch-all-all .l-stretch-content {
    padding-left: 1rem!important;
    padding-right: 1rem!important;

    @include breakpointCustom(361px) {
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important;
    }

    @include breakpointCustom(1201px) {
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }

    @include breakpointCustom(1601px) {
        padding-left: 5.4rem!important;
        padding-right: 5.4rem!important;
    }
}

.b-block-top-sales h2 {

    @include breakpointCustom(1000px) {
        font-size: 5rem;
    }
}

.b-block-top-sales__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.b-block-top-sales__item {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;

    @include breakpointCustom(580px) {
        width: calc(50% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }

    @include breakpointCustom(1400px) {
        width: calc(33.333333% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.b-block-top-sales__image {
    display: block;
    text-decoration: none;
}

.b-block-top-sales__img {
    width: 100%;
    padding-top: 60.82%;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.b-block-top-sales__content {
    padding: 1.1rem 0;
    background-color: transparent;
    transition: .5s ease-in-out;
}

.b-block-top-sales__name {
    position: relative;
    margin-bottom: 0.5rem;
    padding: 0 2rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.b-block-top-sales__name:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    content: "";
    width: 50%;
    height: 1px;
    background-color: #ee1d24;
    transform: translateX(-50%);
    transition: .5s ease-in-out;
}

.b-block-top-sales__item:hover .b-block-top-sales__content {
    background-color: #ee1d24
}

.b-block-top-sales__item:hover .b-block-top-sales__name {
    color: #fff
}

.b-block-top-sales__item:hover .b-block-top-sales__name:after {
    width: 80%;
    background-color: #fff
}

.b-block-top-sales__item:hover .b-block-top-sales__descr {
    color: #fff
}

.b-block-bottom-text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.b-layout__main-content>:last-child {
    margin-bottom: 0!important;
}

.b-block-bottom-text__img {
    position: absolute;
    top: -2rem;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% + 6rem);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    transform: translateX(-5rem);

    @include breakpointCustom(820px) {
        height: calc(100% + 10rem);
    }
}

.b-block-bottom-text__img-element {
    width: auto;
    height: 100%;
    stroke: #c2bdba;
    stroke-dasharray: 0 100000;
    -webkit-transition: 7s ease-in-out;
    -o-transition: 7s ease-in-out;
    transition: 7s ease-in-out;
}

.b-block-bottom-text.visible .b-block-bottom-text__img-element {
    stroke-dasharray: 11000 100000
}

.b-block-bottom-text__title {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 2em;
    line-height: 1.2;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;

    @include breakpointCustom(480px) {
        font-size: 2rem;
    }

    @include breakpointCustom(820px) {
        width: 57%;
        margin-bottom: 0;
        padding-right: 3rem;
        text-align: left;
    }

    @include breakpointCustom(1000px) {
        font-size: 2.5rem;
    }
}

.b-block-bottom-text__text {
    position: relative;
    z-index: 2;
    width: 100%;

    @include breakpointCustom(820px) {
        width: 43%;
    }
}

body .b-block-bottom-text__title h1 {
    font-size: inherit;
    margin-bottom: inherit;
    line-height: inherit;
    font-weight: inherit;
}

/////////////////////////////////////////////////////////////
/// NEW INDEX
////////////////////////////////////////////////////////////
.hero {
    padding: 10px 0 30px;

    @include breakpoint(md) {
        padding: 20px 0 35px;
    }
}

.hero .swiper {
    padding-bottom: 28px;
}

.hero__slide {
    padding-top: calc((100vw / 1.7) / 3.333);
    padding-left: calc((100vw / 1.7) / 22);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vw / 1.7);
    min-height: 220px;

    @include breakpoint(lg) {
        padding-top: 150px;
        height: 475px;
    }

    @include breakpoint(xl) {
        padding: 133px 0 105px;
        position: relative;
        width: 953px;
        opacity: 0.3;
    }
}

.hero__slide::before {

    @include breakpoint(xl) {
        content: '';
        background: linear-gradient(270deg, rgba(32, 32, 32, 0) 40.83%, rgba(32, 32, 32, 0.55) 72.53%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
    }
}

.hero__slide.swiper-slide-active {

    @include breakpoint(xl) {
        opacity: 1;
    }
}

.hero__slide.swiper-slide-active::before {
    content: none;
}

.hero__slide-title {
    margin: 0;
    max-width: 190px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    @include breakpoint(md) {
        margin-left: 70px;
        max-width: 300px;
        font-size: 36px;
        line-height: 44px;
    }

    @include breakpoint(lg) {
        margin-left: 120px;
    }
}

.hero__slide-btn {
    margin-top: 22px;
    padding: 12px 32px;
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #FFFFFF;

    @include breakpoint(md) {
        margin-top: 70px;
        margin-left: 70px;
        padding: 18px 42px;
        font-size: 14px;
        line-height: 17px;
    }

    @include breakpoint(lg) {
        margin-top: 70px;
        margin-left: 120px;
    }

    @include breakpoint(xl) {
        margin-top: 120px;
    }
}

.hero .swiper-pagination {
    bottom: -8px;
}

.hero .swiper-pagination span {
    margin: 0 8px!important;
    background: #202020;
    height: 4px;
    border-radius: unset;
    opacity: 1;
    transition: width 0.5s ease;
}

.hero .swiper-pagination span.swiper-pagination-bullet-active {
    background: #EE1D24;
    width: 31px;
}

.hero__buttons {
    display: none;

    @include breakpoint(md) {
        position: absolute;
        top: calc(50% - 25px);
        width: 100%;
        z-index: 2;
    }
}

.buttons-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 990px;
}

.slider-button {
    background: #202020;
    width: 50px;
    height: 50px;
    color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.home-cat .container {
    position: relative;
}

.cat__tabs {
    border-bottom: 1px solid #F4F4F4;

    @include breakpoint(md) {
        display: inline-flex;
    }
}

.cat__tabs-item {
    padding: 15px 12px;
    width: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B8D9C;
    cursor: pointer;
}

.cat__tabs-item.active {
    color: #353745;
    border-bottom: 1px solid #222222;
}

.cat__tabs-item ~ .cat__tabs-item {
    margin-left: 13px;
}

.cat__container {
    margin-top: 25px;

    @include breakpoint(md) {
        margin-top: 56px;
    }
}

.cat__slide {
    width: 222px;
}

.cat__slide a {
    text-decoration: none;
}

.cat__image {
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.cat__label {
    margin-top: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #868686;
}

.cat__title {
    margin-top: 12px;
    height: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;

    @include textLimit(2);
}

.cat__price {
    margin-top: 12px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.cat__price span {
    margin-left: 5px;
    display: inline-block;
    font-size: 15px;
    color: #BDBDBD;
}

.cat__colors {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.color-list {
    display: flex;
}

.color-item {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
}

.color-item ~ .color-item {
    margin-left: 15px;
}

.color-item.active {
    border: 1px solid #CECECE;
}

.color-item.inactive {
    border: 1px solid #CECECE;
    cursor: default;
}

.color-item-color {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border-radius: 50%;
}

.color-item.inactive .color-item-color {
    background: #E9E5E4!important;
}

.cat__colors-link {
    margin-left: 15px;
    font-size: 12px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
}

.cat__buttons {
    display: none;

    @include breakpoint(md) {
        position: absolute;
        top: 0;
        right: 20px;
    }
}

.cat-button {
    background: #F4F4F4;
    width: 32px;
    height: 32px;
    font-size: 12px;
    line-height: 1;
    border-radius: 50%;
    cursor: pointer;
}

.cat-button ~ .cat-button {
    margin-left: 12px;
}

.features {
    padding: 60px 0 35px;

    @include breakpoint(md) {
        padding: 60px 0 90px;
    }
}

.features .s-title {
    margin-bottom: 32px;

    @include breakpoint(md) {
        margin-bottom: 50px;
    }
}

.features__inner {

    @include breakpoint(md) {
        display: flex;
    }
}

.features__block {
    margin-bottom: 10px;
    padding: 56px 21px 22px 34px;
    background-size: cover;
    position: relative;
    height: 267px;
    border-radius: 5px;
    overflow: hidden;

    @include breakpoint(md) {
        padding: 56px 15px 22px;
        width: 467px;
        height: 475px;
    }

    @include breakpoint(lg) {
        padding: 56px 34px 22px;
        height: 400px;
    }

    @include breakpoint(xl) {
        height: 267px;
    }
}

.features__block ~ .features__block {

    @include breakpoint(md) {
        margin-left: 20px;
    }
}

.features__block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.features__block:nth-child(1)::before {
    background: linear-gradient(180deg, rgba(82, 55, 36, 0.4108) 53%, rgba(75, 41, 10, 0.79) 100%);
}

.features__block:nth-child(2)::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4108) 53%, rgba(0, 0, 0, 0.79) 100%);
}

.features__block:nth-child(3)::before {
    background: linear-gradient(180deg, rgba(35, 35, 35, 0.4108) 53%, rgba(26, 26, 26, 0.79) 100%);
}

.features__title {
    margin-left: 26px;
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    z-index: 1;
}

.features__title::before {
    content: attr(data-number);
    position: absolute;
    top: -56px;
    left: -26px;
    font-weight: 500;
    font-size: 128px;
    line-height: 156px;
    opacity: 0.3;
}

.features__text {
    margin-top: 35px;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
    z-index: 1;

    @include breakpoint(md) {
        margin-top: 70px;
        font-size: 16px;
    }

    @include breakpoint(lg) {
        margin-top: 35px;
    }
}

.about {
    padding-bottom: 60px;

    @include breakpoint(md) {
        padding-bottom: 75px;
    }
}

.about .s-title span {
    color: red;
}

.about__inner {
    margin-top: 50px;

    @include breakpoint(md) {
        display: flex;
    }
}

.about__logo {
    padding: 36px 0 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    overflow: hidden;

    @include breakpoint(md) {
        margin-right: 70px;
        padding: 0;
        width: calc(((100% / 12) * 5) - 20px);
    }
}

.about__block {
    margin-top: 50px;

    @include breakpoint(md) {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(((100% / 12) * 7) - 20px);
    }
}

.about__block div {
    font-size: 16px;

    @include breakpoint(md) {
        width: 50%;
    }
}

.about__block > p {
    font-size: 16px;

    @include breakpoint(md) {
        width: 40%;
    }
}

.work .s-title {
    margin-bottom: 32px;

    @include breakpoint(md) {
        margin-bottom: 50px;
    }
}

.work__inner {
    display: flex;
    justify-content:  space-between;
}

.work__inner .swiper-slide {

    @include breakpoint(md) {
        width: auto;
    }
}

.work__block {
    position: relative;
}

.work__block a {
    padding: 14px 34px;
    display: flex;
    width: 351px;
    height: 505px;
    text-decoration: none;
}

.work__block a::before {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.64%, rgba(0, 0, 0, 0.5925) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.work__block p {
    margin-top: auto;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.work__partners {
    padding: 20px 0 30px;
    display: flex;
    align-items: center;
    justify-content:  space-between;

    @include breakpoint(md) {
        padding: 60px 0;
    }
}

.partner-img {
    width: calc(100% / 7);
    opacity: 0.5;
}

.partner-img ~ .partner-img {
    margin-left: 32px;
}