.wtb-section {
    margin-top: 50px;

    @include breakpointMaxCustom(1200px) {
        margin-top: 0;
    }
}

.b-block-shop-products {
    position: relative;
    margin: 0 0 4rem;
    padding: 0
}

.b-block-shop-products__items {
    display: flex;
    flex-wrap: wrap;

    @include breakpointCustom(580px) {
        width:calc(50% - 1rem);
        margin-right: 2rem;
    }
}

.b-block-shop-products__item {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;

    @include breakpointCustom(1400px) {
        width:calc(33.333333% - 1.34rem);
        margin-right: 2rem;
    }
}

.b-block-shop-products__item:nth-child(2n),.b-block-shop-products__item:nth-child(odd) {

    @include breakpointCustom(580px) {
        margin-right: 2rem;
    }

    @include breakpointCustom(1400px) {
        margin-right: 2rem;
    }
}

.b-block-shop-products__item:nth-child(2n) {

    @include breakpointCustom(580px) {
        margin-right: 0;
    }
}

.b-block-shop-products__item:nth-child(3n) {

    @include breakpointCustom(1400px) {
        margin-right: 0;
    }
}

.b-block-shop-products__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none
}

.b-block-shop-products__link:hover {
    text-decoration: none
}

.b-block-shop-products__image {
    display: block
}

.b-block-shop-products__img {
    position: relative;
    width: 100%;
    padding-top: 60.82%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

.b-block-shop-products__content {
    padding: 1.1rem 0;
    background-color: transparent;
    transition: .5s ease-in-out
}

.b-block-shop-products__name {
    position: relative;
    margin-bottom: .5rem;
    padding: 0 1rem .5rem;
    font-size: 1.5rem;
    font-weight: 700
}

.b-block-shop-products__name:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    content: "";
    width: 50%;
    height: 1px;
    background-color: #ee1d24;
    transform: translateX(-50%);
    transition: .5s ease-in-out
}

.b-block-shop-products__item:hover .b-block-shop-products__content {
    background-color: #ee1d24
}

.b-block-shop-products__item:hover .b-block-shop-products__name {
    color: #fff
}

.b-block-shop-products__item:hover .b-block-shop-products__name:after {
    width: 80%;
    background-color: #fff
}

.b-block-shop-products__item:hover .b-block-shop-products__descr {
    color: #fff
}

.b-block-shops {
    position: relative;
    margin: 0 0 4rem;
    padding: 0
}

.b-block-shops__items {
    display: flex;
    flex-wrap: wrap
}

.b-block-shops__item {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;

    @include breakpointCustom(580px) {
        width:calc(50% - 1rem);
        margin-right: 2rem;
    }

    @include breakpointCustom(1400px) {
        width:calc(33.333333% - 1.34rem);
        margin-right: 2rem;
    }
}

.b-block-shops__item:nth-child(2n),.b-block-shops__item:nth-child(odd) {

    @include breakpointCustom(580px) {
        margin-right: 2rem;
    }

    @include breakpointCustom(1400px) {
        margin-right: 2rem;
    }
}

.b-block-shops__item:nth-child(2n) {

    @include breakpointCustom(580px) {
        margin-right: 0;
    }
}

.b-block-shops__item:nth-child(3n) {

    @include breakpointCustom(1400px) {
        margin-right: 0;
    }
}

.b-block-shops__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%
}

.b-block-shops__link,.b-block-shops__link:hover {
    border: 0;
    text-decoration: none
}

.b-block-shops__icons {
    position: absolute;
    top: .5rem;
    left: -1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 2rem
}

.b-block-shops__sale.c-sale-ico {
    width: 3rem;
    height: 3rem;
    margin-bottom: .5rem
}

.b-block-shops__discount.c-discount {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%)
}

.b-block-shops__image {
    position: relative;
    display: block
}

.b-block-shops__img {
    width: 100%;
    padding-top: 60.82%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

.b-block-shops__metro {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: .5rem 1rem;
    background-color: #20202095;
    font-weight: 700;
    color: #fff;
    text-align: center
}

.b-block-shops__metro-name {
    position: relative;
    display: inline-block;
    padding-left: 1.5rem;
    font-size: .7rem
}

.b-block-shops__metro-ico {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%)
}

.b-block-shops__city {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: .5rem 1rem;
    background-color: #20202095;
    font-weight: 700;
    color: #fff;
    text-align: center
}

.b-block-shops__city-name {
    position: relative;
    display: inline-block;
    padding-left: 1.5rem;
    font-size: .7rem
}

.b-block-shops__city-ico {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%)
}

.b-block-shops__content {
    padding: 1.1rem 0;
    background-color: transparent;
    transition: .5s ease-in-out
}

.b-block-shops__name {
    position: relative;
    margin-bottom: .5rem;
    padding: 0 1rem .5rem;
    font-size: 1.5rem;
    font-weight: 700
}

.b-block-shops__name:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    content: "";
    width: 50%;
    height: 1px;
    background-color: #ee1d24;
    transform: translateX(-50%);
    transition: .5s ease-in-out
}

.b-block-shops__descr {
    margin-bottom: .2rem;
    padding: 0 1rem;
    font-weight: 700
}

.b-block-shops__products-count {
    padding: 0 1rem
}

.b-block-shops__item:hover .b-block-shops__content {
    background-color: #ee1d24
}

.b-block-shops__item:hover .b-block-shops__name {
    color: #fff
}

.b-block-shops__item:hover .b-block-shops__name:after {
    width: 80%;
    background-color: #fff
}

.b-block-shops__item:hover .b-block-shops__descr,.b-block-shops__item:hover .b-block-shops__products-count {
    color: #fff
}

.b-block-sorter-taber {
    padding-top: .5rem;
    border-top: 1px solid #f1f1f1
}

.b-block-sorter-taber__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
    font-size: .7rem
}

.b-block-sorter-taber__sorter {
    width: 100%;
    margin-bottom: .5rem;

    @include breakpointCustom(480px) {
        width:auto;
        margin: 0;
    }
}

.b-block-sorter-taber__taber-title {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    @include breakpointCustom(480px) {
        width:auto;
    }
}

.b-block-sorter-taber__taber-name {
    position: relative;
    margin-left: 1.5em;
    border-bottom: 1px dashed #202020;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer
}

.b-block-sorter-taber__taber-name:first-child {

    @include breakpointCustom(480px) {
        margin-left:0;
    }
}

.b-block-sorter-taber__taber-name:nth-child(n+2):after {
    position: absolute;
    left: -1em;
    top: 0;
    z-index: 1;
    content: "/";
    font-size: 1em;
    font-weight: 300
}

.b-block-sorter-taber__taber-name--active {
    border: 0;
    font-weight: 300
}

// .b-block-sorter-taber__taber-item {
//     display: none
// }

// .b-block-sorter-taber__taber-item--active {
//     display: block
// }

.b-filter__wtb-cities {
    position: relative;
    display: flex;
    align-items: center;

    @include breakpointMaxCustom(1200px) {
        margin: 36px 0 24px;
        display: block;
    }
}

.b-filter__wtb-cities .b-filter__group-name {
    margin-right: 60px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-transform: unset;

    @include breakpointMaxCustom(1200px) {
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 24px;
    }
}

.b-filter__wtb-cities .b-filter-slider-arrows {
    display: none;

    @include breakpointMax(md) {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
    }
}

.b-filter__wtb-cities .b-slider-arrow {

    @include breakpointMax(md) {
        background: #F4F4F4;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        cursor: pointer;
    }
}

.b-filter__wtb-cities .b-slider-arrow ~ .b-slider-arrow {
    margin-left: 10px;
}

.b-filter__wtb-cities .b-filter__group-items {
    margin: 0;
}

.b-filter__wtb-cities .b-filter__group-items .swiper-slide {
    width: auto;
}

.b-filter__wtb-cities .b-filter__group-item {
    margin: 0 20px 0 0;
    padding: 17px 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #202020;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @include breakpointMaxCustom(1200px) {
        margin: 0 10px 0 0;
    }
}

.b-filter__wtb-cities .b-filter__group-item.active {
    border-color: #000;
}

.b-filter__wtb-cities .b-filter__group-item i {
    margin-right: 10px;
    color: #EE1D24;
}

.shop__items {
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop__item {
    margin-bottom: 20px;
    padding: 26px 24px;
    display: flex;
    width: calc(50% - 10px);
    border: 1px solid #E2E2E2;

    @include breakpointMaxCustom(1200px) {
        padding: 8px;
        display: flex;
        flex-direction: column;
        width: calc(50% - 5px);
        border: 1px solid #E2E2E2;
    }
}

.shop__item-img {
    width: 199px;
    height: 121px;

    @include breakpointMax(md) {
        width: 100%;
        height: calc((50vw - 41px) / 1.92)
    }
}

.shop__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop__item-content {
    margin-left: 20px;

    @include breakpointMaxCustom(1200px) {
        margin-left: 0;
    }
}

.shop__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    text-decoration: none;

    @include breakpointMaxCustom(1200px) {
        margin-top: 10px;
        display: block;
        font-size: 13px;
        line-height: 16px;
    }
}

.shop__item-info-phone {
    margin: 15px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @include breakpointMaxCustom(1200px) {
        font-size: 13px;
        line-height: 120%;
    }
}

.shop__item-info-address {
    display: flex;
    align-items: center;

    @include breakpointMaxCustom(1200px) {
        align-items: unset;
    }
}

.shop__item-info-address svg {
    flex-shrink: 0;
}

.shop__item-info-address span {
    margin-left: 12px;
}

//////////////////////////////
/// WHERE TO BUY DETAIL
//////////////////////////////
.wtb-inner-section {
    padding-bottom: 56px;

    @include breakpoint(md) {
        margin-top: 45px;
        padding-bottom: 128px;
    }
}

.b-shop {

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
    }
}

.b-shop__left {
    border: 1px solid #E2E2E2;

    @include breakpoint(md) {
        width: calc(50% - 10px);
    }
}

.b-shop__image {
    height: 100%;
}

.b-shop__image img {
    height: 100%;
    object-fit: cover;
}

.b-shop__right {
    margin-top: 14px;
    padding: 20px 30px;
    border: 1px solid #E2E2E2;

    @include breakpoint(md) {
        margin-top: 0;
        width: calc(50% - 10px);
    }

    @include breakpoint(xl) {
        padding: 65px 120px;
    }
}

.b-shop__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    @include breakpoint(md) {
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
    }
}

.b-shop__phone {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;

    @include breakpoint(xl) {
        margin-top: 50px;
        font-size: 20px;
        line-height: 200%;
    }
}

.b-shop__phone a {
    color: #222;
    text-decoration: none;
}

.b-shop__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;

    @include breakpoint(xl) {
        font-size: 20px;
        line-height: 200%;
    }
}

.b-shop__descr-short {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;

    @include breakpoint(xl) {
        font-size: 20px;
        line-height: 200%;
    }
}

.b-shop__metro {
    margin-top: 20px;
    display: flex;
    font-size: 16px;
    line-height: 150%;

    @include breakpoint(xl) {
        margin-top: 50px;
        font-size: 24px;
        line-height: 150%;
    }
}

.b-shop__metro svg {

    @include breakpoint(md) {
        transform: scale(1.2);
    }

    @include breakpoint(xl) {
        margin-top: 4px;
    }
}

.b-shop__metro span {
    margin-left: 12px;
    font-weight: 400;
}

.b-shop__map-title {
    margin: 40px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    @include breakpoint(md) {
        font-size: 32px;
        line-height: 39px;
    }

    @include breakpoint(xl) {
        margin: 70px 0;
    }
}

.b-shop__map {
    max-height: 275px;

    @include breakpoint(md) {
        max-height: 492px;
    }
}