---
title: Avangard | 404 Not Found
bodyClass: b-layout b-layout--page-404
page: 404
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted
            h1 404
            p Возможно, страница была перемещена или удалена.
            p Если вы вводили адрес вручную — проверьте правильность ввода адреса страницы.