---
title: Avangard | Отзывы
bodyClass: b-layout b-layout--page-feedback
page: about
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted

            include components/_breadcrumbs
            +breadcrumbs('О фабрике', 'Отзывы')

            h1 Отзывы о фабрике

            .b-block-feedback-list
                .b-block-feedback-list__button.c-button.c-button--color_red Написать отзыв

                .b-block-feedback-list__items

                    .b-block-feedback-list__item
                        .b-block-feedback-list__date 26.06.2020
                            .b-block-feedback-list__score
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                        .b-block-feedback-list__name Корольков П.М.
                        .b-block-feedback-list__comment 21/03/20 я купил мебель вашей фабрики. Несмотря на режим самоизоляции продавец Ольга из салона ТЦ Черемушки оставалась на связи и сообщала мне положение дел по моему заказу №1237. За поддержание престижа фабрики и ответственное отношение к покупателям прошу вас поощрить продавца Ольгу.

                    .b-block-feedback-list__item
                        .b-block-feedback-list__date 22.04.2020
                            .b-block-feedback-list__score
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                            span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                        .b-block-feedback-list__name Инна
                        .b-block-feedback-list__comment Нашему дивану вчера исполнилось 11 лет (модульная система &quot;Милан&quot;) на сайте уже нет ничего похожего. Мою его (он кожаный) и в очередной раз восхищаюсь качеством, вот даже сайт нашла

                    .b-block-feedback-list__item
                        .b-block-feedback-list__date 31.07.2016
                            .b-block-feedback-list__score
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                        .b-block-feedback-list__name Шушарина Людмила Сергеевна
                        .b-block-feedback-list__comment Долго искали диван в спальную. Хотелось чего-то то необычного, функционального и по приемлемой цене.Выбрали диван в ТЦ Румянцево, это была любовь с первого взгляда! Понравился внешний вид, дополнительные полезные функции, практичность. Качество тоже на высоте.Привезли точно в срок, даже чуть раньше. Собрали быстро, аккуратно. Диван смотрится отлично, а отдыхать и спать на нем - в удовольствие. Очень довольны покупкой пользуемся уже 2 года! спасибо за качественную мягкую мебель!

                    .b-block-feedback-list__item
                        .b-block-feedback-list__date 31.07.2016
                            .b-block-feedback-list__score
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                        .b-block-feedback-list__name Вьюгина Елена
                        .b-block-feedback-list__comment Пользуемся диваном не первый год! Он великолепен, удобный, большой! Заказали несколько лет назад, аккардион 160*200. Очень удобный заменяет полноценную кровать. Сейчас по прошествии 5 лет сделали ремонт в комнате, и по дизайну он немного не вписался, позвонила в авангард и о чудо! Можно заказать отдельно новую обшивку! Так, что мы не расстаёмся с нашей кроваткой на которой нас спит уже трое)

                    .b-block-feedback-list__item
                        .b-block-feedback-list__date 30.07.2016
                            .b-block-feedback-list__score
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                        .b-block-feedback-list__name Кузенкова Л
                        .b-block-feedback-list__comment Поздравляю Авангард С Днем Рождения ! Желаю благополучия,процветания,всех благ. Кровать горизонт очень понравилась дочке. Очень довольны! Особая благодарность Анастасии Щелково 100) За профессионализм. Спасибо!!!

                    .b-block-feedback-list__item
                        .b-block-feedback-list__date 29.07.2016
                            .b-block-feedback-list__score
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                        .b-block-feedback-list__name Дробышевская Светлана Николаевна
                        .b-block-feedback-list__comment Поздравляем Авангард С Днем Рождения ! Желаем благополучия,процветания,всех благ. Ваша мебель стала украшением нашего дома. Долго выбирали , и нашли.Очень довольны!  Особая благодарность менеджерам-консультантам Марине и Анастасии ( Салон  Щелково 100) За профессионализм и доброе отношение. Спасибо!!! Дробышевская С.Н + Дробышевский О.Л

                    .b-block-feedback-list__item
                        .b-block-feedback-list__date 28.07.2016
                            .b-block-feedback-list__score
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                                span.b-block-feedback-list__score-star.c-ico-star.c-ico-star--active
                        .b-block-feedback-list__name Дьякова Ольга Вячеславовна
                        .b-block-feedback-list__comment Купила 2 дивана модель Кентукки и пуф фабрики Аванград. Покупкой очень довольна! Заказ выполнили точно в срок по договору , что очень радует. Диваны с разными ортопедическими матрасами, но спать очень удобно и мне, и дочке!!! Спасибо Вам большое! Всем моим знакомым буду рекомендовать диваны фабрики Авангард!