---
title: Avangard | Производство мягкой мебели
bodyClass: b-layout b-layout--page_production
page: about
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted

            include components/_breadcrumbs
            +breadcrumbs('О фабрике', 'Производство мебели')

            h1 Производство мягкой мебели

            .b-block-page-slogan Инновационные производственные возможности фабрики «Авангард» позволяют производить мебель высокого качества

            .b-block-production-list.b-block-production-list--type_big.b-block-production-list--margin_big
                .b-block-production-list__items

                    .b-block-production-list__col
                        .b-block-production-list__item
                            .b-block-production-list__item-title
                                .b-block-production-list__item-ico(style="background-image: url('assets/images/ico-dude.svg');")
                                .b-block-production-list__item-name Опытные специалисты
                            .b-block-production-list__item-descr В проектировании мебели принимают участие высококвалифицированные конструкторы, дизайнеры и технологи. Предложенные к выпуску модели мебели и отдельные детали рассматривает технический совет фабрики при участии руководителей производства, коммерческого управления и службы контроля качества. Одобренные образцы, рекомендуемые для внедрения и производства, обязательно экспонируются на выставках, в т.ч. международных.
                            img.b-block-production-list__item-img(src='assets/images/production1.jpg' alt='Фабрика мебели из массива')

                        .b-block-production-list__item
                            .b-block-production-list__item-title
                                .b-block-production-list__item-ico(style="background-image: url('assets/images/ico-dude.svg');")
                                .b-block-production-list__item-name Опытные специалисты
                            .b-block-production-list__item-descr В проектировании мебели принимают участие высококвалифицированные конструкторы, дизайнеры и технологи. Предложенные к выпуску модели мебели и отдельные детали рассматривает технический совет фабрики при участии руководителей производства, коммерческого управления и службы контроля качества. Одобренные образцы, рекомендуемые для внедрения и производства, обязательно экспонируются на выставках, в т.ч. международных.
                            img.b-block-production-list__item-img(src='assets/images/production1.jpg' alt='Фабрика мебели из массива')

                    .b-block-production-list__col
                        .b-block-production-list__item
                            .b-block-production-list__item-title
                                .b-block-production-list__item-ico(style="background-image: url('assets/images/ico-dude.svg');")
                                .b-block-production-list__item-name Опытные специалисты
                            .b-block-production-list__item-descr В проектировании мебели принимают участие высококвалифицированные конструкторы, дизайнеры и технологи. Предложенные к выпуску модели мебели и отдельные детали рассматривает технический совет фабрики при участии руководителей производства, коммерческого управления и службы контроля качества. Одобренные образцы, рекомендуемые для внедрения и производства, обязательно экспонируются на выставках, в т.ч. международных.
                            img.b-block-production-list__item-img(src='assets/images/production1.jpg' alt='Фабрика мебели из массива')

                        .b-block-production-list__item
                            .b-block-production-list__item-title
                                .b-block-production-list__item-ico(style="background-image: url('assets/images/ico-dude.svg');")
                                .b-block-production-list__item-name Опытные специалисты
                            .b-block-production-list__item-descr В проектировании мебели принимают участие высококвалифицированные конструкторы, дизайнеры и технологи. Предложенные к выпуску модели мебели и отдельные детали рассматривает технический совет фабрики при участии руководителей производства, коммерческого управления и службы контроля качества. Одобренные образцы, рекомендуемые для внедрения и производства, обязательно экспонируются на выставках, в т.ч. международных.
                            img.b-block-production-list__item-img(src='assets/images/production1.jpg' alt='Фабрика мебели из массива')