---
title: Avangard | Инженерные разработки
bodyClass: b-layout b-layout--page-info
page: about
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted

            include components/_breadcrumbs
            +breadcrumbs('О фабрике', 'Инженерные разработки')

            h1 Инженерные разработки

            .b-block-text-files
                .b-block-text-files__description
                    p В диванах, производимых на нашей фабрике, наряду с широко известными механизмами, применяются механизмы, разработанные в конструкторском отделе нашего предприятия. А именно:

                    h4 «Книжка МС»

                    p Современный механизм для ежедневного использования. Простой в эксплуатации. Позволяет формировать спальное место без перепадов по высоте. За счет трансформации этого механизма из дивана образуется кровать размером 1300х1950 мм. Преимущество механизма состоит в том, что при раскладывании и складывании, диван не нужно отодвигать от стены.
                    p
                        b Способ трансформации:

                    ol
                        li Вытянуть сиденья на себя.
                        li Приподнять сиденье до щелчка.
                        li Опустить сиденье.

                    p Трансформация в положение «диван» производится в обратной последовательности.

                    h4 «Авангард» ( «Конрад» )

                    p Современный выкатной механизм для ежедневного использования.
                    p
                        b Способ трансформации:

                    ol
                        li Потянуть за середину царги, выдвинуть на себя выкатную телегу (поз.3), которая приводит в движение сидение (поз.2) и  вытягивает за собой подголовник (поз.1). Движение механизма происходит до полной фиксации;
                        li Трансформировать подушку выкатной телеги (поз.3) в верхнее положение за специальную ручку;
                        li Изделие разложено в положение «кровать».
                    p
                        b Трансформация в положение «диван» производится в следующей последовательности:

                    ol
                        li Трансформировать подушку выкатной телеги (поз.3) в нижнее положение;
                        li Задвинуть выкатную телегу до полного ухода подголовника (поз.1) вниз и установки сидения на место;
                        li Задвинуть окончательно выкатную телегу.