---
title: Avangard | Категория
bodyClass: b-layout b-layout--default
page: category
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted

            include components/_breadcrumbs
            +breadcrumbs('Каталог', 'Коллекции мебели', 'Амадеус')

            h1 Амадеус

            .b-filter
                .b-filter__group.b-filter__group--cols_1
                    .b-filter__group-items
                    a.b-filter__group-item.b-filter__group-item--active(href='#') Амадеус
                    a.b-filter__group-item(href='#') Байрон
                    a.b-filter__group-item(href='#') Венеция
                    a.b-filter__group-item(href='#') Верди
                    a.b-filter__group-item(href='#') Верона
                    a.b-filter__group-item(href='#') Делия
                    a.b-filter__group-item(href='#') Долорес
                    a.b-filter__group-item(href='#') Кантри
                    a.b-filter__group-item(href='#') Марсель
                    a.b-filter__group-item(href='#') Медичи
                    a.b-filter__group-item(href='#') Палермо
                    a.b-filter__group-item(href='#') Сиена
                    a.b-filter__group-item(href='#') Толедо
                    a.b-filter__group-item(href='#') Челси
                    a.b-filter__group-item(href='#') Шаде

            .b-block-products
                .b-block-products__items
                    .b-block-products__item
                        a.b-block-products__link(href='#')
                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        .b-block-products__icons
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/04e7c8df2fdc332e7f650949bff22776.jpg');")
                        .b-block-products__content
                            .b-block-products__name Амадеус к/к
                            .b-block-products__content-wrap
                                .b-block-products__text Механизм: аккордеон
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey Материал: массив бука
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price 67 593₽

                    .b-block-products__item
                        a.b-block-products__link(href='#')
                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        .b-block-products__icons
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/cf5baa05098ca3ee6904b031e1e4bdcb.jpg');")
                        .b-block-products__content
                            .b-block-products__name Амадеус
                            .b-block-products__content-wrap
                                .b-block-products__text Механизм: аккордеон
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey Материал: массив бука
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price 67 953₽

                    .b-block-products__item
                        a.b-block-products__link(href='#')
                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        .b-block-products__icons
                            .b-block-products__new.c-new-ico
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/17f3087f7e916a02ad721a2243076544.jpg');")
                        .b-block-products__content
                            .b-block-products__name Амадеус
                            .b-block-products__content-wrap
                                .b-block-products__text Механизм: еврософа
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey Материал: массив бука
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price 122 321₽

                    .b-block-products__item
                        a.b-block-products__link(href='#')
                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        .b-block-products__icons
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/5d6be95c214a2f7226207d8d4e316eaf.jpg');")
                        .b-block-products__content
                            .b-block-products__name Амадеус-Line
                            .b-block-products__content-wrap
                                .b-block-products__text
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey Материал: массив бука
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price 67 593₽