---
title: Avangard | Дизайнерам
bodyClass: b-layout b-layout--page-info
page: info
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted

            include components/_breadcrumbs
            +breadcrumbs('Партнерство', 'Дизайнерам')

            h1 Дизайнерам

            .b-block-text-files
                .b-block-text-files__description
                    p Разрешите представить для Вас бонусную программу по совместной работе. Компания специализируется на изготовлении мебели и декоративных элементов из массива бука. Свое деревообрабатывающее производство позволяет реализовать практически любые авторские идеи от каркаса мягкой мебели до торшеров, настольных ламп и предметов интерьера. Широкая цветовая гамма красителей позволит воплотить самые неординарные идеи.

                    h4 Предлагаем:

                    ul
                        li изготовление мягкой мебели из массива бука, хвойных пород, с элементами шпона;
                        li декорирование ручной росписью;
                        li неограниченная цветовая палитра, всевозможное тонирование, патинирование, инкрустация цветом;
                        li изготовление деревянного каркаса или декоративных элементов по вашим эскизам;
                        li огромный выбор обивочных и декоративных материалов.

                    div
                        img(alt='Комплект мебели в салатовой обивке' src='assets/images/afeb4bd5f9d2c14c0f21cd3007b0032e.jpg' style='margin-right: 30px; margin-bottom: 30px;')
                        img(alt='Эркер в тканевой обивке' src='assets/images/dca315ab38e3be4c8f01aa41e5e72290.jpg' style='margin-right: 30px; margin-bottom: 30px;')
                        img(alt='Мягкое кресло в синей обивке' src='assets/images/a8fd0aeb4039b4d2cd5b2c816a9f917d.jpg' style='margin-right: 30px; margin-bottom: 30px;')
                        img(alt='Маленький синий раскладной диван' src='assets/images/41549524c842b4ce01a9e27a4fd252d0.jpg' style='margin-right: 30px; margin-bottom: 30px;')
                        img(alt='Декор на боковине в бело-синих тонах' src='assets/images/db61446d25c6a5ab70a5275e61836757.jpg' style='margin-right: 30px; margin-bottom: 30px;')
                        img(alt='Декор на боковине в теплых тонах' src='assets/images/e4ce3b76637961f7c4c048d39af5e88b.jpg' style='margin-right: 30px; margin-bottom: 30px;')
                        img(alt='Маленький диван в полосатой обивке' src='assets/images/6bd0dc9949888d72d06d2835a8e7a8c8.jpg' style='margin-right: 30px; margin-bottom: 30px;')
                        img(alt='Резной узор на боковине дивана' src='assets/images/e4f5cc269e20977770964d0ab2c86cca.jpg' style='margin-right: 30px; margin-bottom: 30px;')

                    h4 Гарантируем:

                    ul
                        li оперативное размещение заказов;
                        li быстрое и качественное изготовление мебели, кроватей, светильников по предложенному каталогу;
                        li минимальные сроки по согласованию и просчету единичных заказов;
                        li высокое качество обслуживания серийного и единичного производства;
                        li индивидуальные скидки для Вас и ваших клиентов;
                        li бонусная программа вашей мотивации при размещение 3-х и более заказов;
                        li размещение на нашем сайте ваших работ с участием нашей мебели, с указанием всех необходимых контактов.
                    br
                    br
                    em
                        div Все интересующие вопросы Вы сможете задать
                        div
                            | по тел.
                            a(href='tel:+79164065750') 8 (916) 406-57-50
                        div
                            | или по почте
                            a(href='mailto:r1984@avangard.biz') r1984@avangard.biz
                        div Коммерческий директор
                        div Резницкий Иван