---
title: Avangard | Доставка мебели
bodyClass: b-layout b-layout--page-info
page: pos_guarantee
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted

            include components/_breadcrumbs
            +breadcrumbs('Услуги', 'Доставка мебели')

            h1 Доставка мебели

            .b-block-text-files
                .b-block-text-files__description
                    p Склад готовой продукции, склад товарно-материальных ценностей расположены на территории "ИвНить" г.Ивантеевка.
                    p Складские помещения отвечают всем требованиям, предъявляемым к складам, как с точки зрения соблюдения условий хранения, так и с точки зрения логистики.
                    p Каждый склад имеет удобный подъезд для грузового транспорта и погрузочно-разгрузочной техники.
                    p Также служба логистики включает в себя собственный обновленный автопарк.
                    p Силами нашей компании перевозка мебели всех видов и на любые расстояния осуществляется быстро, качественно и надежно. Для этого в нашем распоряжении есть широкий выбор транспортных средств, инструменты и большой штат высококвалифицированных сотрудников.
                    p
                        img(alt='Склад мебели' src='assets/images/af3926826b111352fd5f311da3c08794.jpg' width='205' style='margin-right: 10px; margin-bottom: 10px;')
                        img(alt='Собственный автопарк' src='assets/images/a1b74d4486d23d6e12f684091f672d01.jpg' width='205' style='margin-right: 10px; margin-bottom: 10px;')
                        img(alt='Служба логистики' src='assets/images/99f9d27f6e9a579c7f82243e3697ce3f.jpg' width='205' style='margin-right: 10px; margin-bottom: 10px;')
                        img(alt='Доставка мебели' src='assets/images/f8be72088eb256e0a0ef45f8949e3f7b.jpg' width='205' style='margin-right: 10px; margin-bottom: 10px;')
                    h4 Правила приемки мебели
                    p Мебель соответствует ГОСТ 19917-93 (мебель для сидения и лежания), 16371-93.
                    p Мебель транспортируется в закрытых транспортных средствах и в соответствующей упаковке.
                    p При хранении мягкой мебели она должна быть надежно защищена от намокания, грязи, сильных толчков, ударов тяжелыми предметами, а, также, недопустимо падение с любой высоты.
                    p При доставке обязательно проверьте внешний вид и комплектность изделия, верность заполнения гарантийного талона. Все претензии к качеству исполнения заказа следует занести в договор. Помните, если Вы приняли изделие без указания на явные недостатки (недостатки, которые могут быть установлены при обычном способе приемки), это лишает Вас права ссылаться на них в дальнейшем.
                    p Допускаются и не являются дефектом: морщины на обивочном материале, возникающие после снятия нагрузок и исчезающие после разглаживания рукой; незначительная разнооттеночность облицовочных тканей; цвета и отличие рисунка лакокрасочных покрытий (декора); мелкие волосяные трещины (т.н. эффект растрескивания) и потертости мебельного покрытия из натуральной кожи, возникающие в местах интенсивной эксплуатации.
