---
title: Avangard | Главная
bodyClass: b-layout b-layout--page-main
page: main
---

extends includes/_page

block main

    main

        .hero

            .swiper

                .swiper-wrapper

                    .swiper-slide.hero__slide(style="background-image: url(assets/images/Rectangle2.jpg)")
                        p.hero__slide-title Комплекты для спальни -50%
                        a.hero__slide-btn(href="#") Подробнее

                    .swiper-slide.hero__slide(style="background-image: url(assets/images/Rectangle2.jpg)")
                        p.hero__slide-title Комплекты для спальни -50%
                        a.hero__slide-btn(href="#") Подробнее

                    .swiper-slide.hero__slide(style="background-image: url(assets/images/Rectangle2.jpg)")
                        p.hero__slide-title Комплекты для спальни -50%
                        a.hero__slide-btn(href="#") Подробнее

                    .swiper-slide.hero__slide(style="background-image: url(assets/images/Rectangle2.jpg)")
                        p.hero__slide-title Комплекты для спальни -50%
                        a.hero__slide-btn(href="#") Подробнее

                .swiper-pagination

                .hero__buttons
                    .buttons-container
                        button.slider-button.slider-button--prev
                            i.far.fa-chevron-left
                        button.slider-button.slider-button--next
                            i.far.fa-chevron-right

        .home-cat

            .container

                .cat__tabs

                    .swiper

                        .swiper-wrapper

                            .swiper-slide.cat__tabs-item.active Популярные
                            .swiper-slide.cat__tabs-item Новинки
                            .swiper-slide.cat__tabs-item Диваны
                            .swiper-slide.cat__tabs-item Кровати
                            .swiper-slide.cat__tabs-item Гостиные

                .cat__container

                    .swiper

                        .swiper-wrapper

                            .swiper-slide.cat__slide
                                a(href="#")
                                    .cat__image(style="background-image: url(assets/images/image-1.jpg)")
                                a(href="#")
                                    .cat__label кресло
                                a(href="#")
                                    .cat__title Монтана
                                .cat__price 49 672
                                    span ₽
                                .cat__colors
                                    .color-list
                                        .color-item.active
                                            .color-item-color(style="background-color: #A66742")
                                        .color-item
                                            .color-item-color(style="background-color: #5B3920")
                                        .color-item
                                            .color-item-color(style="background-color: #453325")
                                        .color-item
                                            .color-item-color(style="background-color: #4B4843")
                                        .color-item
                                            .color-item-color(style="background-color: #432120")
                                    a.cat__colors-link(href="#") +25

                            .swiper-slide.cat__slide
                                a(href="#")
                                    .cat__image(style="background-image: url(assets/images/image-2.jpg)")
                                a(href="#")
                                    .cat__label кресло
                                a(href="#")
                                    .cat__title Монтана
                                .cat__price 49 672
                                    span ₽
                                .cat__colors
                                    .color-list
                                        .color-item.inactive
                                            .color-item-color(style="background-color: #A66742")
                                        .color-item
                                            .color-item-color(style="background-color: #5B3920")
                                        .color-item
                                            .color-item-color(style="background-color: #453325")
                                        .color-item
                                            .color-item-color(style="background-color: #4B4843")
                                        .color-item
                                            .color-item-color(style="background-color: #432120")
                                    a.cat__colors-link(href="#") +25

                            .swiper-slide.cat__slide
                                a(href="#")
                                    .cat__image(style="background-image: url(assets/images/image-3.jpg)")
                                a(href="#")
                                    .cat__label кресло
                                a(href="#")
                                    .cat__title Монтана
                                .cat__price 49 672
                                    span ₽
                                .cat__colors
                                    .color-list
                                        .color-item.active
                                            .color-item-color(style="background-color: #A66742")
                                        .color-item
                                            .color-item-color(style="background-color: #5B3920")
                                        .color-item
                                            .color-item-color(style="background-color: #453325")
                                        .color-item
                                            .color-item-color(style="background-color: #4B4843")
                                        .color-item
                                            .color-item-color(style="background-color: #432120")
                                    a.cat__colors-link(href="#") +25

                            .swiper-slide.cat__slide
                                a(href="#")
                                    .cat__image(style="background-image: url(assets/images/image-4.jpg)")
                                a(href="#")
                                    .cat__label кресло
                                a(href="#")
                                    .cat__title Монтана
                                .cat__price 49 672
                                    span ₽
                                .cat__colors
                                    .color-list
                                        .color-item.active
                                            .color-item-color(style="background-color: #A66742")
                                        .color-item
                                            .color-item-color(style="background-color: #5B3920")
                                        .color-item
                                            .color-item-color(style="background-color: #453325")
                                        .color-item
                                            .color-item-color(style="background-color: #4B4843")
                                        .color-item
                                            .color-item-color(style="background-color: #432120")
                                    a.cat__colors-link(href="#") +25

                            .swiper-slide.cat__slide
                                a(href="#")
                                    .cat__image(style="background-image: url(assets/images/image-5.jpg)")
                                a(href="#")
                                    .cat__label кресло
                                a(href="#")
                                    .cat__title Монтана
                                .cat__price 49 672
                                    span ₽
                                .cat__colors
                                    .color-list
                                        .color-item.active
                                            .color-item-color(style="background-color: #A66742")
                                        .color-item
                                            .color-item-color(style="background-color: #5B3920")
                                        .color-item
                                            .color-item-color(style="background-color: #453325")
                                        .color-item
                                            .color-item-color(style="background-color: #4B4843")
                                        .color-item
                                            .color-item-color(style="background-color: #432120")
                                    a.cat__colors-link(href="#") +25

                            .swiper-slide.cat__slide
                                a(href="#")
                                    .cat__image(style="background-image: url(assets/images/image-1.jpg)")
                                a(href="#")
                                    .cat__label кресло
                                a(href="#")
                                    .cat__title Монтана
                                .cat__price 49 672
                                    span ₽
                                .cat__colors
                                    .color-list
                                        .color-item.active
                                            .color-item-color(style="background-color: #A66742")
                                        .color-item
                                            .color-item-color(style="background-color: #5B3920")
                                        .color-item
                                            .color-item-color(style="background-color: #453325")
                                        .color-item
                                            .color-item-color(style="background-color: #4B4843")
                                        .color-item
                                            .color-item-color(style="background-color: #432120")
                                    a.cat__colors-link(href="#") +25

                            .swiper-slide.cat__slide
                                a(href="#")
                                    .cat__image(style="background-image: url(assets/images/image-2.jpg)")
                                a(href="#")
                                    .cat__label кресло
                                a(href="#")
                                    .cat__title Монтана
                                .cat__price 49 672
                                    span ₽
                                .cat__colors
                                    .color-list
                                        .color-item.active
                                            .color-item-color(style="background-color: #A66742")
                                        .color-item
                                            .color-item-color(style="background-color: #5B3920")
                                        .color-item
                                            .color-item-color(style="background-color: #453325")
                                        .color-item
                                            .color-item-color(style="background-color: #4B4843")
                                        .color-item
                                            .color-item-color(style="background-color: #432120")
                                    a.cat__colors-link(href="#") +25

                    .cat__buttons
                        button.cat-button.slider-button--prev
                            i.far.fa-chevron-left
                        button.cat-button.slider-button--next
                            i.far.fa-chevron-right

        .features

            .container

                h2.s-title Преимущества

                .features__inner

                    .features__block(style="background-image: url(assets/images/features-1.jpg)")
                        .features__title(data-number='01') Массив
                        p.features__text В производстве мы используем только натуральную древесину – массив бука высокогорных районов Северного Кавказа высокого качества

                    .features__block(style="background-image: url(assets/images/features-2.jpg)")
                        .features__title(data-number='02') Ткани
                        p.features__text При изготовлении мебели мы применяем только высококачественные ткани из натуральных материалов ведущих европейских производителей

                    .features__block(style="background-image: url(assets/images/features-3.jpg)")
                        .features__title(data-number='03') Интерьер
                        p.features__text Стильная и функциональная мебель фабрики Авангард отлично подойдет для любой комнаты, подчеркнув особенности интерьера даже ограниченного пространства

        .about

            .container

                h2.s-title Фабрика мягкой мебели
                    span &nbsp;«Авангард»

                .about__inner

                    .about__logo
                        img(src="assets/images/logo_blacktext.svg", alt="logo")

                    .about__block
                        div
                            p
                                b Фабрика мягкой мебели «Авангард Лайн» создана в 1996 году на базе крупнейшего мебельного предприятия — Ассоциация производителей мебели «Аллегро».
                            p С 2000-го года компания выходит на новый качественный уровень. Из двухсот моделей мебели, созданных на фабрике, семьдесят занимали верхние строчки в рейтинге продаж в различные годы.
                        p Мы используем в производстве натуральную древесину — массив бука высокогорных районов Северного Кавказа высокого качества, мягкие элементы из высокоэластичного пенополиуретана, обивочные материалы из мебельной ткани и натуральной кожи ведущих европейских производителей.

        .work

            .container

                h2.s-title Проекты с нашей мебелью

                .work__inner

                    .swiper

                        .swiper-wrapper

                            .swiper-slide
                                .work__block(style="background-image: url(assets/images/work-1.jpg)")
                                    a(href="#")
                                        p Проект современной квартиры - красиво и функционально

                            .swiper-slide
                                .work__block(style="background-image: url(assets/images/work-2.jpg)")
                                    a(href="#")
                                        p Проект современной квартиры - красиво и функционально

                            .swiper-slide
                                .work__block(style="background-image: url(assets/images/work-3.jpg)")
                                    a(href="#")
                                        p Проект современной квартиры - красиво и функционально

                            .swiper-slide
                                .work__block(style="background-image: url(assets/images/work-4.jpg)")
                                    a(href="#")
                                        p Проект современной квартиры - красиво и функционально

                .work__partners

                    .partner-img
                        img(src="assets/images/partner-1.svg", alt="icon")
                    .partner-img
                        img(src="assets/images/partner-2.svg", alt="icon")
                    .partner-img
                        img(src="assets/images/partner-3.svg", alt="icon")
                    .partner-img
                        img(src="assets/images/partner-4.svg", alt="icon")
                    .partner-img
                        img(src="assets/images/partner-5.svg", alt="icon")
                    .partner-img
                        img(src="assets/images/partner-6.svg", alt="icon")
                    .partner-img
                        img(src="assets/images/partner-7.svg", alt="icon")