---
title: Avangard | Главная
bodyClass: b-layout b-layout--page-main
page: main
---

extends includes/_page

block main

    main

        .hero

            .swiper

                .swiper-wrapper

                    .swiper-slide.hero__slide(style="background-image: url(assets/images/Rectangle2.jpg)")
                        p.hero__slide-title Комплекты для спальни -50%
                        a.hero__slide-btn(href="#") Подробнее

                    .swiper-slide.hero__slide(style="background-image: url(assets/images/Rectangle2.jpg)")
                        p.hero__slide-title Комплекты для спальни -50%
                        a.hero__slide-btn(href="#") Подробнее

                    .swiper-slide.hero__slide(style="background-image: url(assets/images/Rectangle2.jpg)")
                        p.hero__slide-title Комплекты для спальни -50%
                        a.hero__slide-btn(href="#") Подробнее

                    .swiper-slide.hero__slide(style="background-image: url(assets/images/Rectangle2.jpg)")
                        p.hero__slide-title Комплекты для спальни -50%
                        a.hero__slide-btn(href="#") Подробнее

                .swiper-pagination

                .hero__buttons
                    .buttons-container
                        button.slider-button.slider-button--prev
                            i.far.fa-chevron-left
                        button.slider-button.slider-button--next
                            i.far.fa-chevron-right