---
title: Avangard | Интернет-магазинам
bodyClass: b-layout b-layout--page-info
page: info
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted

            include components/_breadcrumbs
            +breadcrumbs('Партнерство', 'Интернет-магазинам')

            h1 Интернет-магазинам

            .b-block-text-files
                .b-block-text-files__description
                    h4 Уважаемые коллеги!

                    p Мы производим и продаем сами, предлагаем продавать и Вам.
                    p С нами легко

                    h4
                        em Этапы работы:

                    ul
                        li Знакомство с товаром (вышлем пособие для продавцов, проведем тренинги - бесплатно);
                        li Согласование финансовых условий;
                        li Обмен документами;
                        li Высылаем пакет фото для заливки и прайсы;
                        li Партнерский договор.

                    h4
                        em Все условия

                    ul
                        li Работаете с производителем;
                        li Принимаете заказ;
                        li Высылаете на фабрику;
                        li Получаете счет;
                        li Оплачиваете счет и заказ уходит на производство;
                        li Изготовление товара;
                        li Чистый документооборот.
                    br
                    br
                    div По всем вопросам звоните нам по телефону:
                    a(href='tel:+74953571300') 8 (495) 357 13 00
                    br
                    a(href='tel:+79164065750') 8 (916) 406 57 50