---
title: Avangard | Продукт
bodyClass: b-layout b-layout--default
page: product
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted

            include components/_breadcrumbs
            +breadcrumbs('Каталог')

            h1 диван-кровать Кантри

            .b-product

                .b-product__left
                    .b-product__catalog диван-кровать

                    .b-product__favourites
                        .b-product__favourites-ico
                            svg.b-product__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        .b-product__favourites-text добавить в избранное
                        .b-product__favourites-text-active убрать из избранного

                    .b-product__properties-public
                        .b-block-properties-watched
                            .watched-icon
                                .fal.fa-eye
                            span
                                | Уже&nbsp;
                                b 729
                                | &nbsp;человек смотрели этот товар сегодня
                        .b-block-properties-public
                            .b-block-properties-public__item
                                .b-block-properties-public__name Комплектность
                                span.b-block-properties-public__value Кресло-кровать
                            .b-block-properties-public__item
                                .b-block-properties-public__name Механизм
                                span.b-block-properties-public__value Аккордеон
                            .b-block-properties-public__item
                                .b-block-properties-public__name Высота
                                span.b-block-properties-public__value 900
                            .b-block-properties-public__item
                                .b-block-properties-public__name Глубина
                                span.b-block-properties-public__value 1080

                            .b-block-properties__wrap
                                .b-block-properties-public__item.b-block-properties-has-child
                                    .b-block-properties-public__name Спальное место
                                    span.b-block-properties-public__value 1200x2000
                                    ul.b-block-properties-list
                                        li 900x1600
                                        li 1000x2000
                                        li 1100x1900
                                        li 1200x2000

                                .b-icon
                                    i.fas.fa-repeat

                                .b-block-properties-public__item
                                    .b-block-properties-public__name Ширина
                                    span.b-block-properties-public__value 1510

                        .b-block-mattresses

                            .b-block-properties__item
                                .b-block-properties-public__name Выбор матраса
                                span.b-block-properties-public__value OPTO-1

                            .b-block-mattresses-list

                                .b-block-mattresses__item.selected
                                    .b-block-mattresses__image
                                        img.b-block-mattresses__img(src='assets/images/5c4d1d321acb8426838f7137a3c833d1.jpg' alt='ОРТО-1')
                                    .b-block-mattresses__name ОРТО-1

                                .b-block-mattresses__item
                                    .b-block-mattresses__image
                                        img.b-block-mattresses__img(src='assets/images/9aa67eb3969029d2ea84fd44e2c73fcc.jpg' alt='ОРТО-2')
                                    .b-block-mattresses__name ОРТО-2

                                .b-block-mattresses__item
                                    .b-block-mattresses__image
                                        img.b-block-mattresses__img(src='assets/images/96278e3c1766aa7bcc3108ac6069e967.jpg' alt='ОРТО-3')
                                    .b-block-mattresses__name ОРТО-3

                                .b-block-mattresses__item
                                    .b-block-mattresses__image
                                        img.b-block-mattresses__img(src='assets/images/9aa67eb3969029d2ea84fd44e2c73fcc.jpg' alt='ОРТО-4')
                                    .b-block-mattresses__name ОРТО-4

                                .b-block-mattresses__item
                                    .b-block-mattresses__image
                                        img.b-block-mattresses__img(src='assets/images/96278e3c1766aa7bcc3108ac6069e967.jpg' alt='ОРТО-5')
                                    .b-block-mattresses__name ОРТО-5

                    .b-product__price
                        | Цена: от&nbsp;&nbsp;
                        span.b-product__price-val 71 388₽

                    .b-product__credit
                        .b-product__credit-text Доступна рассрочка
                        .b-product__credit-select
                            .b-product__credit-price от 2975 ₽
                            .b-product__credit-period
                                .b-product__credit-period-val 24 мес.
                                ul.b-product__credit-period-select
                                    li 12 мес.
                                    li 18 мес.
                                    li 24 мес.

                    .b-product__buttons
                        .b-product__button-buy.c-button.c-button--color_red(data-fancybox href="#modal-callback") Хочу купить
                        .b-product__button-buy.c-button.c-button--red Где купить?

                    .b-product__share
                        .ya-share2(data-curtain='' data-shape='round' data-limit='5' data-more-button-type='short' data-size='m' data-services='vkontakte,odnoklassniki,telegram,whatsapp,twitter,moimir,skype')

                .b-product__right
                    .b-product__images
                        .b-product__images-big
                            .b-product__img-item.b-product__img-item--id_0.b-product__img-item--active
                                img.b-product__img-big(src='assets/images/item-24242.jpg' alt='кресло-кровать амадеус к/к ')
                            .b-product__img-item.b-product__img-item--id_1
                                img.b-product__img-big(src='assets/images/0e3b12ad050d3d35a9854e8619393b7c.jpg' alt='кресло-кровать амадеус к/к ')
                        .b-product__slider
                            .b-product__slider-container.swiper-container
                                .b-product__slider-wrapper.swiper-wrapper
                                    .b-product__slider-slide.b-product__slider-slide--active.swiper-slide(data-id="0" style="background-image: url('assets/images/item-24242.jpg');")
                                    .b-product__slider-slide.swiper-slide(data-id="1" style="background-image: url('assets/images/0e3b12ad050d3d35a9854e8619393b7c.jpg');")

                    .b-block-colors

                        .b-block-properties__item
                            .b-block-properties-public__name Выберите вариант декора:&nbsp;&nbsp;&nbsp;
                            span.b-block-properties-public__value Топленый мед

                        .b-block-colors__container.swiper

                            .swiper-wrapper

                                .b-block-colors__item.swiper-slide.selected
                                    .b-block-colors__color(data-color="Топленый мед")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/81666213d94fa4e97179ee7f6144e668.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Орех")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/4c304087330eb3789d18f4f38203efdd.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Испанский орех")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/a7f31352b89617c0a1fd4d82621e22cc.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Топленый мед")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/0f372a01a8d7a6a9aa7f21727dbcc269.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Топленый мед")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/9799753ed0fe74b3b3a4814742f9d730.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Топленый мед")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/7eaba342c1cffcd2caae9e1fe400e673.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Топленый мед")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/665dcbbc9dffbf36bc9321d214ea45ca.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Топленый мед")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/3ce1260c8937c3816fdb54639684b78b.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Топленый мед")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/1453f5a442072f837316658d98d1b3d3.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Топленый мед")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/b0f651d062624cad57c1f9fc20774e6d.jpg');")

                                .b-block-colors__item.swiper-slide
                                    .b-block-colors__color(data-color="Топленый мед")
                                        .b-block-colors__color-wrap(style="background-image: url('assets/images/284a72db54030fc8b2412baece21ebda.jpg');")

                    .b-block-video
                        .b-block-video__play
                            .b-block-video__play-icon
                                i.fad.fa-play
                            p Смотреть видео
                        video#product_video(poster="assets/images/item-24242.jpg")
                            source(src="assets/images/movie.mp4" type="video/mp4")

                    .b-block-description
                        h3 Описание
                        p Яркий представитель стильной и функциональной мягкой мебели, в основе которой лежит комфорт, удобство и натуральность материалов. Сдержанный дизайн модели, строгие формы подлокотников, выполненные из массива восточного бука и декорированные элементами в виде металлических заклепок, будут органично смотреться в вашей комнате, наполняя её уютом и гармонией.
                          br
                          br
                          |Благодаря наличию механизма «аккордеон», диван в считанные секунды превратится в комфортную и просторную кровать. Прочный и надежный металлический каркас, оснащенный березовыми ламелями, и 5 видов анатомических матрасов из высокоэластичной пены создают ортопедический эффект для позвоночника. Нагрузка на ровное спальное место будет распределяться равномерно, что обеспечит правильное положение тела и здоровый сон.
                          br
                          br
                          |Особым цветовым акцентом является съемный чехол, выполненный из высококачественных мебельных тканей, простеганный на ПериоТеке. Данный материал хорошо держит форму, не вызывает аллергию и полностью безопасен для здоровья. В процессе эксплуатации вы можете почистить чехол или заказать у нас новый, из другой подходящей ткани.
                          br
                          br
                          |Диван «Кантри» подходит не только для частного дома, но и для квартиры, позволяя абстрагироваться от городской суеты и полноценно расслабиться. При раскладывании механизм выезжает на прорезиненных колесиках, не повреждая напольное покрытие. Для хранения постельных принадлежностей встраивается бельевой ящик, в котором легко сделать влажную уборку.

            h3 Похожие товары

            .b-block-products
                .b-block-products__items
                    .b-block-products__item
                        a.b-block-products__link(href='#')

                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

                        .b-block-products__icons
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/2e8290eea99dfe4974224b13e5b1f45e.jpg');")
                        .b-block-products__content
                            .b-block-products__name Толедо к/к
                            .b-block-products__content-wrap
                                .b-block-products__text
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price

            h3 С этим товаром покупают:

            .b-block-products
                .b-block-products__items

                    .b-block-products__item
                        a.b-block-products__link(href='#')

                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

                        .b-block-products__icons
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/2e8290eea99dfe4974224b13e5b1f45e.jpg');")
                        .b-block-products__content
                            .b-block-products__name Толедо к/к
                            .b-block-products__content-wrap
                                .b-block-products__text
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price

                    .b-block-products__item
                        a.b-block-products__link(href='#')

                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

                        .b-block-products__icons
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/2e8290eea99dfe4974224b13e5b1f45e.jpg');")
                        .b-block-products__content
                            .b-block-products__name Толедо к/к
                            .b-block-products__content-wrap
                                .b-block-products__text
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price

                    .b-block-products__item
                        a.b-block-products__link(href='#')

                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

                        .b-block-products__icons
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/2e8290eea99dfe4974224b13e5b1f45e.jpg');")
                        .b-block-products__content
                            .b-block-products__name Толедо к/к
                            .b-block-products__content-wrap
                                .b-block-products__text
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price

                    .b-block-products__item
                        a.b-block-products__link(href='#')

                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

                        .b-block-products__icons
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/2e8290eea99dfe4974224b13e5b1f45e.jpg');")
                        .b-block-products__content
                            .b-block-products__name Толедо к/к
                            .b-block-products__content-wrap
                                .b-block-products__text
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price

                    .b-block-products__item
                        a.b-block-products__link(href='#')

                        .b-block-products__favourites-ico
                            svg.b-block-products__favourites-svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2 8.1005C2 9.23281 2.44772 10.2579 3.17157 11L10 18L16.8284 11C17.5523 10.2579 18 9.23281 18 8.1005C18 5.83583 16.2091 4 14 4C12 4 11 5.02513 10 6.05025C9 5.02513 8 4 6 4C3.79086 4 2 5.83583 2 8.1005Z' stroke='#EE1D24' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

                        .b-block-products__icons
                        .b-block-products__image
                            .b-block-products__img(style="background-image: url('assets/images/2e8290eea99dfe4974224b13e5b1f45e.jpg');")
                        .b-block-products__content
                            .b-block-products__name Толедо к/к
                            .b-block-products__content-wrap
                                .b-block-products__text
                                .b-block-products__text
                            hr.b-block-products__line
                            .b-block-products__content-wrap
                                .b-block-products__text.b-block-products__text--grey
                                .b-block-products__text.b-block-products__text--grey
                                    | Цена от:
                                    b.b-block-products__price