---
title: Avangard | Скачать схемы сборки
bodyClass: b-layout b-layout--page-info
page: info
---

extends includes/_page

block main

    main.b-layout__main.no_main

        .b-layout__main-global

        .b-layout__main-content
            .b-layout__main-content-dots.c-dotted

            include components/_breadcrumbs
            +breadcrumbs('Полезная информация', 'Скачать схемы сборки')

            h1 Схемы сборки
            .b-block-text-files
                .b-block-text-files__description
                    h4 Инструкции по использованию механизмов трансформации

                    ul
                        li допускаема предельная нагрузка на механизм трансформации: кресло – не более 100 кг;
                        li двойной диван – не более 200 кг; тройной диван – не более 250 кг. Допускаемая сосредоточенная нагрузка на одну лату гибкого основания – 60 кгс. Превышение допускаемой нагрузки приведёт к поломке механизма трансформации;
                        li во избежание травмирования рук следите, чтобы во время складывания механизма пальцы не находились между шарнирно-складывающимися деталями;
                        li не допускается использовать разложенное спальное место для прыжков и прочих физических упражнений;
                        li появление скрипа в процессе эксплуатации механизма не является дефектом (легко устраняется путем смазывания трущихся частей машинным маслом);
                        li во избежание поломки узлов механизма избегать резких рывков и перекосов;
                        li не переполняйте ящик для постельных принадлежностей, это может привести к поломке механизма трансформации.

                    p Дополнения к инструкции по использованию механизмов трансформации для МТ “аккордеон":

                    ul
                        li механизм трансформации «аккордеон» на металлокаркасе;
                        li допускаемая предельная нагрузка на элементы каркаса дивана - не более 40 кг. Превышение допускаемой нагрузки приведет к поломке;
                        li допускаемая предельная нагрузка на механизм трансформации: 0.7 не более 100 кг; 1.4 не более 200 кг; 1.6; 1.9 не более 250 кг. Допускаемая сосредоточенная нагрузка на одну лату гибкого основания 60 кг. Превышение допускаемой нагрузки приведёт к поломке
                        li появление скрипа в процессе эксплуатации механизма не является дефектом (легко устраняется путем смазывания трущихся частей машинным маслом).

                    h4 Конструкция дивана

                    p Каркас изделия жесткий, неразборный, решетчато-щитовой конструкции. Щитовые детали выполнены из калиброванной фанеры. Брусковые детали изготовлены из древесины хвойных и твердолистных пород – кавказский бук. Бельевой ящик в оттоманке выполнен из ДСП.
                    p В основании диван-кровати, кресла-кровати, кресла, оттоманки, а, также, выкатной части дивана – деревянная рамка с амортизаторами из резино-тканевой ленты. В основании подголовной части – фанера.
                    p Корпус изделия сформирован настилочными материалами: эластичный пенополиуретан различной толщины, плотности и жесткости; синтепон; комфорель.
                    p Для наполнения спинки дивана, кресла и т.д. также используется комфорель. В этом случае для того, чтобы наполнение распределялось равномерно и не оседало, используются внутренние чехлы из хлопчатобумажной ткани.

                .b-block-text-files__files
                    a.b-block-text-files__file(href='#')
                        span.b-block-text-files__file-ico.c-ico-file.c-ico-file--type_pdf
                        span.b-block-text-files__file-name avangard _Схема сборки дивана-аккордеон_1

                    a.b-block-text-files__file(href='#')
                        span.b-block-text-files__file-ico.c-ico-file.c-ico-file--type_pdf
                        span.b-block-text-files__file-name avangard _Схема сборки дивана-книжки

                    a.b-block-text-files__file(href='#')
                        span.b-block-text-files__file-ico.c-ico-file.c-ico-file--type_pdf
                        span.b-block-text-files__file-name Схема сборки Марсель