---
title: Avangard | Где купить
bodyClass: b-layout b-layout--page-main
page: main
---

extends includes/_page

block main
    include includes/_mixins

    main.no__main

        include components/_breadcrumbs
        +breadcrumbsNew('Где купить', 'Где купить')

        .wtb-section

            .container

                // YANDEX MAP URL
                script(src="https://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru_RU")

                .b-block-sorter-taber__taber-item
                    .b-block-yandex-map(style="background: url('https://static-maps.yandex.ru/1.x/?ll=37.72445739746,55.71176706896&z=5&l=map&size=650,450') center center no-repeat; background-size: cover;" data-auto-load='no' data-load='no' data-map-id='1')
                        .b-block-yandex-map__preloader
                        script(type='text/javascript').
                            var yandexMapOptions_1 = {center: [55.71176706896, 37.72445739746], zoom: 9, };
                            var yandexMapMarkGeometry_1 = [[55.905447,37.539302],[55.664588,37.63464],[55.70283,37.355722],[55.747363,37.707098],[55.783575,37.867376],[55.573114,37.60809],[55.639664,37.824194],[55.610829,37.723951],[55.751624,38.012274],[55.068334,38.757687],[55.819454,37.320239],[55.674834,37.860944],[55.898689,37.674005],[55.710124,37.654601],[55.713106,37.844738],[55.614561,37.606622],[55.63395308116,37.439217374685],[55.928804,37.75179],[55.367395951739,36.759214066263],[55.831084,38.395244],[55.402148,37.543452],[55.547418,38.191758],[54.935063569745,37.4484645],[55.932616,38.006399],];
                            var yandexMapMarkProperties_1 = [{balloonContent: 'ТЦ Империя', },{balloonContent: 'ТЦ Каширский двор', },{balloonContent: 'ТК Три Кита', },{balloonContent: 'ТЦ ГОРОД', },{balloonContent: 'ТЦ Мебель', },{balloonContent: 'МебельМаркет (Чайнатаун)', },{balloonContent: 'Гипермаркет Интерьер Плаза', },{balloonContent: 'МебельГрад', },{balloonContent: 'ТЦ Эдельвейс', },{balloonContent: 'ТЦ Большая медведица', },{balloonContent: 'ТЦ Красный кит', },{balloonContent: 'ТЦ Грант', },{balloonContent: 'Твой Дом', },{balloonContent: 'МЦ ROOMER', },{balloonContent: 'ТЦ  Город Косино', },{balloonContent: 'МТК Армада', },{balloonContent: 'БЦ Румянцево', },{balloonContent: 'ТЦ Формат', },{balloonContent: 'Торговый центр «Мебель Молл»', },{balloonContent: 'Мебельгуд', },{balloonContent: 'ТЦ Вагант', },{balloonContent: 'ТЦ Мебель Гуд', },{balloonContent: 'ТЦ «Атлас»', },{balloonContent: 'ТЦ Комод', },];
                            var yandexMapMarkOptions_1 = [];

                .b-filter
                    .b-filter__group.b-filter__wtb-cities
                        .b-filter__group-name Локации
                        .b-filter-slider-arrows
                            .b-slider-arrow.b-slider-arrow-prev
                                i.far.fa-chevron-left
                            .b-slider-arrow.b-slider-arrow-next
                                i.far.fa-chevron-right
                        .b-filter__group-items.swiper
                            .swiper-wrapper
                                .swiper-slide
                                    a.b-filter__group-item.active(href='#') Показать все
                                .swiper-slide
                                    a.b-filter__group-item(href='#') Москва
                                .swiper-slide
                                    a.b-filter__group-item(href='#') Московская область
                                .swiper-slide
                                    a.b-filter__group-item(href='#')
                                        i.fal.fa-percent
                                        |Дисконт

                .b-section-shops

                    .shop__items

                        .shop__item
                            a.shop__item-img(href='#')
                                img(src='assets/images/wtb-1.jpg' alt='img')
                            .shop__item-content
                                a.shop__item-title(href='#') ТЦ Империя
                                .shop__item-info-phone +7 (916) 406-56-89
                                .shop__item-info-address
                                    svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill="gray" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                        path(fill-opacity="0.2" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                    span Алтуфьево

                        .shop__item
                            a.shop__item-img(href='#')
                                img(src='assets/images/wtb-2.jpg' alt='img')
                            .shop__item-content
                                a.shop__item-title(href='#') ТЦ Каширский двор
                                .shop__item-info-phone +7 (963) 645-04-52
                                .shop__item-info-address
                                    svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill="gray" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                        path(fill-opacity="0.2" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                    span Каширская (Каховская линия)

                        .shop__item
                            a.shop__item-img(href='#')
                                img(src='assets/images/wtb-3.jpg' alt='img')
                            .shop__item-content
                                a.shop__item-title(href='#') ТК Три Кита
                                .shop__item-info-phone +7 (495) 780-37-37 доб. 2477
                                .shop__item-info-address
                                    svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill="#1F40A2" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                        path(fill-opacity="0.2" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                    span Парк Победы (Арбатско-Покровская линия)

                        .shop__item
                            a.shop__item-img(href='#')
                                img(src='assets/images/wtb-4.jpg' alt='img')
                            .shop__item-content
                                a.shop__item-title(href='#') ТЦ Город
                                .shop__item-info-phone +7 (909) 923-03-98
                                .shop__item-info-address
                                    svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill="#EACB2B" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                        path(fill-opacity="0.2" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                    span Площадь Ильича

                        .shop__item
                            a.shop__item-img(href='#')
                                img(src='assets/images/wtb-5.jpg' alt='img')
                            .shop__item-content
                                a.shop__item-title(href='#') ТЦ Мебель
                                .shop__item-info-phone +7 (916) 406-66-05
                                .shop__item-info-address
                                    svg(width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6.5625 20.0312C4.53125 17.4922 0 11.4375 0 8C0 3.85938 3.32031 0.5 7.5 0.5C11.6406 0.5 15 3.85938 15 8C15 11.4375 10.4297 17.4922 8.39844 20.0312C7.92969 20.6172 7.03125 20.6172 6.5625 20.0312ZM7.5 10.5C8.86719 10.5 10 9.40625 10 8C10 6.63281 8.86719 5.5 7.5 5.5C6.09375 5.5 5 6.63281 5 8C5 9.40625 6.09375 10.5 7.5 10.5Z" fill="#EE1D24")
                                    span Балашиха

                        .shop__item
                            a.shop__item-img(href='#')
                                img(src='assets/images/wtb-6.jpg' alt='img')
                            .shop__item-content
                                a.shop__item-title(href='#') МебельМаркет (Чайнатаун)
                                .shop__item-info-phone +7 (916) 406-56-89
                                .shop__item-info-address
                                    svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill="gray" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                        path(fill-opacity="0.2" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                    span Бульвар Дмитрия Донского

                        .shop__item
                            a.shop__item-img(href='#')
                                img(src='assets/images/wtb-7.jpg' alt='img')
                            .shop__item-content
                                a.shop__item-title(href='#') Гипермаркет Интерьер Плаза
                                .shop__item-info-phone +7 (963) 715-28-21
                                .shop__item-info-address
                                    svg(width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6.5625 20.0312C4.53125 17.4922 0 11.4375 0 8C0 3.85938 3.32031 0.5 7.5 0.5C11.6406 0.5 15 3.85938 15 8C15 11.4375 10.4297 17.4922 8.39844 20.0312C7.92969 20.6172 7.03125 20.6172 6.5625 20.0312ZM7.5 10.5C8.86719 10.5 10 9.40625 10 8C10 6.63281 8.86719 5.5 7.5 5.5C6.09375 5.5 5 6.63281 5 8C5 9.40625 6.09375 10.5 7.5 10.5Z" fill="#EE1D24")
                                    span Дзержинский

                        .shop__item
                            a.shop__item-img(href='#')
                                img(src='assets/images/wtb-8.jpg' alt='img')
                            .shop__item-content
                                a.shop__item-title(href='#') МебельГрад
                                .shop__item-info-phone +7 (905) 501-05-84
                                .shop__item-info-address
                                    svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill="#20904D" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                        path(fill-opacity="0.2" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                    span Домодедовская