---
title: Avangard | Где купить
bodyClass: b-layout b-layout--page-main
page: main
---

extends includes/_page

block main
    include includes/_mixins

    main.no__main

        include components/_breadcrumbs
        +breadcrumbsNew('ТЦ Империя', 'Где купить', 'ТЦ Империя')

        .wtb-inner-section

            .container

                .b-shop

                    .b-shop__left
                        .b-shop__image
                            img(src="assets/images/wtb-image.jpg", alt="img")

                    .b-shop__right
                        .b-shop__title ТЦ Империя
                        .b-shop__phone
                            a(href="tel:+7 (916) 406-56-89")
                                span +7 (916) 406-56-89
                        .b-shop__address
                            span Дмитровское шоссе, д.161Б, 2 этаж
                        .b-shop__descr-short
                            span
                                p с 10.00 до 21.00 без выходных
                        .b-shop__metro
                            svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill="gray" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                                path(fill-opacity="0.2" d="M20 10.5V18C20 19.4062 18.8672 20.5 17.5 20.5H15.8594L13.3594 18C14.6094 17.8828 15.625 16.8281 15.625 15.5V8C15.625 6.63281 14.4922 5.5 13.125 5.5H6.875C5.46875 5.5 4.375 6.63281 4.375 8V15.5C4.375 16.8281 5.35156 17.8828 6.60156 18L4.10156 20.5H2.5C1.09375 20.5 0 19.4062 0 18V10.5C0 4.99219 4.45312 0.5 10 0.5C15.5078 0.5 20 4.99219 20 10.5ZM5.85938 20.5L8.35938 18H11.6016L14.1016 20.5H5.85938ZM8.4375 8C8.94531 8 9.375 8.42969 9.375 8.9375V12.0625C9.375 12.6094 8.94531 13 8.4375 13H7.1875C6.64062 13 6.25 12.6094 6.25 12.0625V8.9375C6.25 8.42969 6.64062 8 7.1875 8H8.4375ZM10.625 8.9375C10.625 8.42969 11.0156 8 11.5625 8H12.8125C13.3203 8 13.75 8.42969 13.75 8.9375V12.0625C13.75 12.6094 13.3203 13 12.8125 13H11.5625C11.0156 13 10.625 12.6094 10.625 12.0625V8.9375ZM6.25 15.1875C6.25 14.6797 6.64062 14.25 7.1875 14.25C7.69531 14.25 8.125 14.6797 8.125 15.1875C8.125 15.7344 7.69531 16.125 7.1875 16.125C6.64062 16.125 6.25 15.7344 6.25 15.1875ZM13.75 15.1875C13.75 15.7344 13.3203 16.125 12.8125 16.125C12.2656 16.125 11.875 15.7344 11.875 15.1875C11.875 14.6797 12.2656 14.25 12.8125 14.25C13.3203 14.25 13.75 14.6797 13.75 15.1875Z")
                            span Алтуфьево

                h3.b-shop__map-title Как добраться?

                img(src="assets/images/ya-map.jpg", alt="img")